/*HEADER*/
.aviso{
	color:blue;
}
.img_novedad{
	  max-width: 100%;
	  overflow: hidden;
	  margin: 0 auto;
	  padding: 0;
	  position: relative;
}
.container-fluid.cabecera{
	width: 970px;
	padding-top: 5px;
	margin: 0 ;
	padding-left: 0;
	padding-bottom: 10px;
}
#hola_usuario{
	margin: 15px;
}
.navbar{
	margin-bottom: 0;
	margin-top: 0;
}
.sidebar-nav.menu{
	margin-left: 10px;
	margin-bottom: 10px;
}
/*FIN HEADER*/
/*BODY*/
a, li, h1, h2, h3, h4, p, label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	list-style: none;
	margin:0;
	
}
p{
	word-wrap: break-word;

}
label{
	font-weight: normal;

}
a:hover, a:focus{
	color: #555;
}
html, body, .main.container-fluid, .container{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #D8D8D8;
	overflow-x: hidden;
	margin:0;
	padding:0;
}
html, body{
	height: 100%;
}
textarea{
	min-width: 50%; 
	max-height: 100px; 
}
.error_message{
	padding: 10px;
	background-color: rgba(231, 76, 60, 1);
	color: white;
}

.success_message{
	padding: 10px;
	background-color: #99D581;
	color: white;
}

.btn{
	margin-bottom: -5px;
}
.caja{
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
}
.dropdown>li>a{
	margin-left: 25px;
}
#filtradoNovedades{
	margin-left: 15px;
}
#formBusqueda{
	margin-left: 15px;
}
#div_escondido_autor, #div_escondido_fecha{
	margin-left: 15px;
}
.form-control{
	color: #808080;
	border: 1px solid #DBE1EB;
	padding-left: 7px;
    padding-right: 7px;
}
.jumbotron{
	background-image: url("../img/fondo-cabecera.png");
	background-repeat:no-repeat;
	color: #fff;
	margin: 5px 0 5px 0;
	height: 300px;
	min-width: 340px;
}
.has-feedback, .form-control-feedback{
	top: 10px;
}
.img-circle.perfil{
	width: 160px;
	height: 160px;
}
.img-perfil{
	float: left;
	margin: 10px;
}
.letras{
	color: #808080;
	border: 1px solid #DBE1EB;
	padding-left: 7px;
    padding-right: 7px;
}
.main.container-fluid{
	padding-bottom: 15px; 
	padding-right: 10px;
	min-height: 100%;
	height: auto !important; 
	height: 100%;
	margin: 10 auto -84px;
}
.nav.nav-tab{
	background-color: #fff;
}
.nav-tabs>li>a, .pagination>li>a, .pagination>li>a:hover, .nav-tabs>li>a:hover{
	border-color: #ffffff;
	background-color: #ddd;
	color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	background-color: #999;
	color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus,.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	border-radius: 5px;
}
.nav-pills>li>a {
	color:#fff;
}
.nav-tabs{
	border-bottom:1px solid #ffffff; 
}
.navbar-collapse.collapse{
	padding: 0;
}
.nav.nav-pills.nav-stacked{
	color: #000;
}
.navbar-default{
	border-radius: 3px;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse{
	overflow-x: hidden;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: transparent;
	color: #000;
}
.nav-pills>li>a, .nav-pills>li{
	background-color: #999;
}
.nav-pills>li>a:hover, .nav-pills>li>a:focus{
	background-color: transparent;
}
.navbar-right{
	list-style-type: none;
	margin-right: 20px;
}
.nav-tabs>li:active>a:hover, .pagination>li:active>a:hover {
	border-color: #ffffff;
	background-color: #fff;
	color: #000000;
}
.page-header {
	margin-left: 10px;
	margin-top: 0;
	color: #eee;
	min-width: 300px;
}
.page-content{
	margin: 10px;
	width: 100%;
}
.panel-title{
	color: #fff;
	text-align: left; 
}
.panel-info{
	margin-bottom: 10px;
}
.region-izquierda{
	float: left;
	min-width: 310px;
	
}
.region-principal{
	float: left;
	width: 80%;
	min-width: 340px;
}
.perfil-datos{
	float: left;
	margin: 10px;
}
.tab-content{
	margin-top: 10px;
}
#eliminar{
	float: right;
	padding-top: 0;
}
#ficha_medica{
	color: #444;
}
#link-Publicacion:link{
	
	text-decoration:underline;
}
#syssport{
	font-size: 210%;
	font-family: 'fantasy';
	color: #fff;
	padding: 0;
	margin:0;
}
#text_error{
	text-align: center;
	font-style: italic;
	margin-top: 10px;
}
/*estilo para asteriscos rojos y frases en rojo*/

/*LOGIN*/
#login{
	text-align: center;
	width: 290px; 
	margin-left: 10px;
	margin-top: 10px;
}
/*FIN LOGIN*/

/*FIN BODY*/
/*----------------------TAMAÑOS DE PANTALLA----------------------------------------*/
/*Para 960*/
@media only screen and (min-width: 801px) {
    .jumbotron { 
        background-repeat:no-repeat;
		background-size: 100% 100%;
		/*margin: 0 0 5px 0; */
        padding-left: 10px;
		padding-right: 10px;
        height: 330px;
    }
    .navbar-header.menu, .navbar-default.menu{
    	width: 290px;
    }
    .region-principal{
    	width: 60%;
    }
    .sidebar-nav.menu{
		width: 290px;
	}

   
}
/*Para 800*/

@media screen and (max-width:800px) {
	body{
		font-size:1.2em;
	}
	h1{
		font-size: 1.8em;
		line-height: 1.2em;
		clear:both;
	}
	h2{
		font-size: 1.6em;
		line-height: 1.2em;
	}
	h3{
		font-size: 1.4em;
		line-height: 1.2em;
	}
	h4{
		font-size: 1.2em;
		line-height: 1.2em;
	}
	p, label{
		font-size: 0.9em;
	}

 	.jumbotron{
		background-repeat:no-repeat;
		background-size: 100% 100%;
		color: #fff;
		padding-left: 10px;
		padding-right: 10px;
		height: 230px;
		
	}
	.navbar-header.menu, .navbar-default.menu{
 		width: 290px;
 	}
 	.page-content{	
 		padding: 0 5px 0 5px;
		margin: 5px;
	}
	.region-principal{
		padding:0;
		margin: 0;
		min-width: 300px;
    }	  
    .btn{
		padding: 5px 7.5px;
	}
	.img-circle.perfil{
		width: 80px;
		height: 80px;
	}
	.table > thead > tr > th, .table > tbody > tr > td{
		font-size:1em;
	}
}
@media only screen and (max-width: 340px){

 	input, button, select, textarea{
		font-size:0.8em;
	}
	#contacto-tabla > thead > tr > th, #contacto-tabla > tbody > tr > td{
		font-size:0.8em;
	}
	
}

@media (max-width: 768px) and (min-width: 5px){
	.nav>li>a{
		padding: 7px 25px;
	}
	
}

