.table{
	min-width: 300px;
	max-width: 100%;
}
#cabecera-tabla{
	background-color: #eeeeee;
}
#contacto-fila{
	padding-left: 10px;
	background-color: #eee;
}
#contacto-fila>th>a{
	color: #333;
}
#contacto-tabla, #perfil-tabla{

	padding-top: 30px; 
}
#deportes-tabla{
	width: 320px;
}
#materias-tabla{
	text-align: justify;
}
#perfil-fila{
	padding-left: 10px;
	border-bottom: 1px solid #ddd;
	background-color: #eeeeee;
	
}

#perfil-tabla>tbody>tr>td{
	background-color: #eeeeee;
	padding-left: 3%;
	padding-right: 10%;
	border-radius: 7px; 
	border: 1.5px solid #ddd;
}
#perfil-tabla>thead{
	border-radius: 7px; 
}
.borde-sup-inf{
	border-bottom: 1px solid #777;
	border-top: 1px solid #777;
}
.borde-der-izq{
	border-left: 1px solid #777;
	border-right: 1px solid #777;	
}
.contacto-tabla{
	border: 2px solid #eee;
	width: 80%;
}
.table > thead > tr > th{
	vertical-align: middle;
	padding: 2px;
}
th, td{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}