{% extends "baseProfesor.html" %}

{% block contenido %}
	<div class="page-header">
		<h1><i>Editar Informacion de: {{deporte}}</i></h1>
	</div>

	<div class="page-content">
		<form role="form" method="POST" accept-charset="utf-8">{% csrf_token %}
			{% for field in form_deporte %}
				<p>{{field.label}}</p>
				<p>{{field}} </p>			
			{% endfor %}
			Entrenamiento:
				{% for field2 in form_entrenamiento %}
					<p>{{field2.label}}</p>
					<p>{{field2}} </p>
				{% endfor %}

			<img src="{{deporte.foto.url}}" class=" img-circle perfil" >
			<input type='submit' value='Guardar'>
		</form>
	</div>
{% endblock %}