{% extends "baseProfesor.html" %}

{% block contenido %}
	<div class="panel-info">
		<div class="page-header panel-default">
			<h1><i>Ficha Medica para: </i><b>{{deporte.nombre}}</b></h1>
		</div>
		<div class="page-content col-12 col-sm-12 col-lg-12">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#ver_ficha_medica">Ver Ficha Medica</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#editar_ficha_medica">Cargar Ficha Medica</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="ver_ficha_medica">
					<div class="col-md-9">
					{% if ficha %}
						
							<div class="form-group">
								<label class=" control-label">Nombre del Archivo:  </label>
								<link class=" control-label"><a title="Descargar ficha médica" href="{{ficha.ficha_medica.url}}">{{ficha.obtenerNombreArchivo}}</a></link>
								
							</div>
							<div class="form-group">
								<label class=" control-label">Nota:  </label>
								<label class=" control-label"> {{ficha.descripcion}} </label>
							</div>	
						 
					{% else %}
							<p>No se ha cargado Ficha Medica</p>
					{% endif %}
					<div class="form-group">
						<button class="btn btn-primary" type="button" value="Volver" onclick="history.back(-1)" />Volver</button>
					</div>
					</div>	
				</div>

				<div role="tabpanel" class="tab-pane fade" id="editar_ficha_medica">
					<form method="POST" enctype="multipart/form-data">{% csrf_token %}
						<div class="form-group">
							<label>Ficha médica: </label>
							{{form.ficha_medica}}
						</div>
						<div class="form-group">
							<label> Descripción: </label><br>
							{{form.descripcion}}
						</div>
						<div class="form-group">
							
							<button class="btn btn-primary" type='submit' value='Guardar'>Guardar</button>
							<button class="btn btn-primary" type="button" value="Volver" onclick="history.back(-1)" />Volver</button>
						</div>
					</form>		
				</div>
			
			</div>
			
		</div>
		
	</div>
{% endblock %}