{% extends "baseProfesor.html" %}


{% block contenido %}
<div class="panel-info">
	<div class="page-header">
		<h1><i>Agregar Nuevo entrenamiento {{mensaje}}</i></h1>
	</div>

	<div class="page-content">
		<form role="form" method="POST" accept-charset="utf-8">{% csrf_token %}
			{% include "mensaje.html" %}
			{% for field in form_entrenamiento %}			
				<div class="form-group">
					{% if not field.errors %}
						<label><b>{{field.label}}:</b></label>
						<p>{{field}} </p>
					{% endif %}
					{% include "formularios_error.html" %}
				</div>				
			{% endfor %}
			<input class="btn btn-primary" type='submit' name='boton_guardar' value='Guardar'>
			<input class="btn btn-primary" type="button" value="Cancelar" onclick="history.back(-1)" />
		</form>
		
	</div>
</div>

{% endblock %}

