{% extends "base2.html" %}

{% block login %}
	{% include "menu-admin.html" %}
{% endblock %}
{% block contenido %}
		<table class="table table-striped">
			<caption><h1>Canchas</h1></caption>
			<thead>
				<tr class="success">
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Dirección</th>
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<td>{{canchas.nombre}}</td>
					<td>{{canchas.descripcion}}</td>
					<td>{{canchas.direccion}}</td>
					<td><a href="{% url 'cancha-actualizar' canchas.id %}">Modificar</a></td>
					<td><a href="{% url 'eliminar-canchas' canchas.id %}">Eliminar</a></td>
				
			</tbody>
			
		</table>
		<a href="{% url 'listar-canchas' %}">Ver Todas</a>
		
		</div>

	
{% endblock %}







