{% extends "baseAdmin.html" %}


{% block contenido %}
	 <div class="panel-info">
		<div class="page-header">
            <h2><i>Cancha {{cancha.nombre}}</i> </h2>
        </div>
		<div class="page-content">
			<form action='' method='POST'>
			{% for field in form %}
			 	<div >    		
				{% csrf_token %}
				<p>{{field.label}}</p>
				<p>{{field}} </p>	

				</div>
			{% endfor %}
				<button class="btn btn-default" type='submit' value='Confirmar'>Confirmar</button>
			    <button class="btn btn-default" type="button" value="Cancelar" onclick="history.back(-1)" />Cancelar</button>
			</form>
			
		</div>
	</div>
	
{% endblock %}






