{% extends "baseAdmin.html" %}
{% block contenido %}
	
		<div class="panel-heading" align="center">
			<h4>¿Está seguro que desea eliminar la cancha <u>{{canchas.nombre}}</u>?</h4>
		</div>
		<div class="panel-body" align="center" >
			<form action='' method='POST'>
				{% csrf_token %}
				<button class="btn btn-default" type='submit' value='Confirmar'>Confirmar</button>
				<button class="btn btn-default" type="button" value="Volver" onclick="history.back(-1)" />Cancelar</button>
			</form>
		</div>

		
		
{% endblock %}






