{% extends "baseAdmin.html" %}

{% block contenido %}
	<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Canchas</i></h1>
	</div>
	<div class="page-content">
		<div class="panel-body panel-primary">
			 <form class="form-horizontal" method='POST'>
				<a href="{% url 'crear-cancha' %}"> Alta cancha </a>
			 </form>
		 </div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
				</tr>
			</thead>
			{% for cancha in object_list %}
				<tbody>
					<tr>
						<td><a href="{{cancha.get_absolute_url}}">{{cancha.nombre}}</a> </td>
					</tr>
				</tbody>
			{% endfor %}
		</table>	
	</div>	

</div>
{% endblock %}
