{% extends "baseAdmin.html" %}
{% block contenido %}
<div class="panel-info">
	<div class="page-header">
		<h1><i>Canchas</i></h1>
	</div>	
	<div class="page-content">
		<table class="table table-striped">	
			<thead>
				<tr class="success">
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Dirección</th>
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<td>{{canchas.nombre}}</td>
					<td>{{canchas.descripcion}}</td>
					<td>{{canchas.direccion}}</td>
					<td>
						<a title="Editar" type="text"  href="{% url 'cancha-actualizar' canchas.id %}"> 
						<span class="glyphicon glyphicon-edit"></span>
						</a>
					</td>
					<td>
						<a title="Eliminar" type="text" href="{% url 'eliminar-canchas' canchas.id %}">
						<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			</tbody>
			
		</table>
		<a href="{% url 'listar-canchas' %}">Ver Todas</a>
	</div>		
</div>		
		
		
	

	
{% endblock %}







