{% extends "baseAdmin.html" %}

{% block contenido %}
<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Canchas</i></h1>
	</div>
	<div class="page-content">
			<form class="form-horizontal" method='POST'>
		 		<ul class="nav nav-pills navbar-right">
			 		<li><a id="agregar" href="{% url 'crear-cancha' %}"><span class="glyphicon glyphicon-plus"></span> </span> Nueva cancha</a></li>
				</ul>
			</form>
		
		<table class="table table-striped">	
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
				</tr>
			</thead>
			{% for c in canchas %}
				<tbody>				
					<tr>
						<td>{{c.nombre}}</td>
						<td>{{c.descripcion}}</td>
						<td><a title="Editar" type="text" href="{% url 'cancha-actualizar' c.id %}"> <span class="glyphicon glyphicon-edit"></span> </a></td>
						<td><a title="Eliminar" type="text" href="{% url 'eliminar-canchas' c.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
					</tr>								
				</tbody>
			{% endfor %}
		</table>	
	 </div>
</div>
{% endblock %}