{% extends "baseAdmin.html" %}

{% block contenido %}
	<table class="table table-hover table-striped">
		<a href="{% url 'crear-cancha' %}">Agregar cancha</a>
		<caption><h1>Canchas</h1></caption>
		{% for c in canchas %}
			<tbody>				
				<tr>
					<td>{{c.nombre}}</td>
					<td>{{c.descripcion}}</td>
					<td><a href="{% url 'cancha-actualizar' c.id %}">Modificar</a>&nbsp; &nbsp;<a href="{% url 'eliminar-canchas' c.id %}">Eliminar</a></td>
				</tr>								
			</tbody>
		{% endfor %}
	</table>	
{% endblock %}