{% extends "baseAdmin.html" %}

{% block contenido %}
	<div class="page-header">
		<h1><i>Canchas</i></h1>
	</div>
	<div class="page-content">
			<form class="form-horizontal" method='POST'>
		 		<ul class="nav navbar-nav nav-pills navbar-right">
			 		<li><a id="agregar" href="{% url 'crear-cancha' %}"><span class="glyphicon glyphicon-plus"></span> </span> Alta cancha</a></li>
				</ul>
			</form>
		
		<table class="table table-hover table-striped">	
			{% for c in canchas %}
				<tbody>				
					<tr>
						<td>{{c.nombre}}</td>
						<td>{{c.descripcion}}</td>
						<td><a href="{% url 'cancha-actualizar' c.id %}">Modificar</a>&nbsp; &nbsp;<a href="{% url 'eliminar-canchas' c.id %}">Eliminar</a></td>
					</tr>								
				</tbody>
			{% endfor %}
		</table>	
	 </div>
{% endblock %}