{% extends "baseAdmin.html" %}
{% block contenido %}
	<div class="panel-info">
			<div class="page-header panel-default">
			<h2><i>Alta Usuario Invitado </i> </h2>
		</div>
		<div class="page-content">		
			<form role="form" enctype="multipart/form-data" method="POST" accept-charset="utf-8">{% csrf_token %}
			{% include 'mensaje.html' %}
				<div class="well" > 
					<div class=" panel-default">
						<div class="panel panel-heading">
							<h4><b>Datos del Usuario Invitado:</b></h4>
							<p class="aviso"> (*) campos obligatorios</p>
						</div>
						{% for field in form %}
								{% if not field.errors %}
									{% if not field.label = 'Contraseña' %}
										<div class="form-group has-success has-feedback" >
											{{field.label_tag}}<b class="aviso"> *</b></br>
											{{field}}
											
											</br>
										</div>
									{% endif %}

								{% endif %}

								{% include "formularios_error.html" %}

							{% endfor %}	
							<!--
						        <b>Nombre de Usuario</b><b class="aviso"> *</b></br> {{form.username}}</br></br>
								<b>Contraseña</b> <b class="aviso"> *</b></br>{{form.password}}</br>
								<b>Repetir Contraseña</b> <b class="aviso"> *</b></br>{{form.password2}}<br></br>

								
								<b>Nombre</b><b class="aviso"> *</b></br>{{form.first_name}} </br>
								<b>Apellido</b><b class="aviso"> *</b></br>{{form.last_name}} </br>
								<b>DNI</b><b class="aviso"> *</b></br>{{form.dni}}</br></br>
								

								<b>Fecha de Nacimiento: </b>
								<b class="aviso"> *</b></br>{{form.fecha_nacimiento}}</br></br>


								<b>Sexo</b><b class="aviso"> *</b></br>{{form.sexo}}</br></br>
								
								<b>Email</b><b class="aviso"> *</b></br>{{form.email}} </br></br>
					<b>Telefono</b></br>{{form.telefono}} </br></br>
								
								<b>Institucion: </b>
								<b class="aviso"> *</b></br>{{form.institucion}}</br></br>

								<b>Deportes </b><b class="aviso"> *</b></br>

								{% if form.lista_deporte %}
									{{form.lista_deporte}}</br>
									<p class="aviso"> Para cargar un nuevo deporte haz click
								{% else %}

									<p class="aviso" >Aún no se han cargado deportes, haz click
								
								{% endif %}
								<a href="{% url 'crear_deporte' %}"> Aquí</a> </p>
	-->
					</div>

					<div class=" panel-default">
						<div class="panel panel-heading ">
							<h4><b>Dirección:</b></h4>
						</div>
						{% for field in from_direccion %}
							<div class="form-group has-success has-feedback" >
								{{field.label_tag}}</br>
								{{field}}
								
								</br>
							</div>
							<!--<b>Calle</b></br> {{form_direccion.calle}}</br>
							<b>Altura</b></br> {{form_direccion.altura}}</br>
							<b>Piso</b></br> {{form_direccion.piso}}</br>
							<b>Nro Departamento</b></br> {{form_direccion.nro_departamento}}</br>
							<b>Provincia</b></br> {{form_direccion.provincia}}</br>
							<b>Localidad</b></br> {{form_direccion.localidad}}</br> -->

						{% endfor %}
							
					</div>
				</div>
				<input  class="btn btn-primary"  type='submit' value='Aceptar' name= 'boton_alta'>
				<button class="btn btn-primary" type="button" value="Cancelar" onclick="history.back(-1)" /> Cancelar </button>
			</form>
			
		</div>
	</div>
{% endblock %}
