{% extends "baseAdmin.html" %}
{% block contenido %}
<script type="text/javascript" type="text/javascript">
function mostrar(contrasenia){
	if (document.getElementById(contrasenia).style.display==''){
		document.getElementById(contrasenia).style.display='none';

	}else {
		document.getElementById(contrasenia).style.display='';
	}
}
</script>	
		<div class="panel-info">
			<div class="page-header">
				<h2>Modificar <i> Perfil Usuario Invitado </i> </h2>
			</div>
			<div class="page-content">		
				<form role="form" method="POST" enctype="multipart/form-data" accept-charset="utf-8">{% csrf_token %}
					<div class="well ">
						<div class=" panel-default">
							<div class="panel-heading">
								<h4>Datos Personales del Usuario Invitado:</h4>
								<p class="aviso"> (*) campos obligatorios</p>
							</div>

						<b>Usuario</b><b class="aviso"> *</b></br> {{form.username}}</br></br></br>

					<p><a href="#" onclick="mostrar('contrasenia')";>Cambiar Contraseña</a></p>
							<div style='display:none' id='contrasenia'>
						    	<b>Contraseña</b> </br>{{form.password}}</br>
								<b>Repetir Contraseña</b> </br>{{form.password2}}</br>
							</div>
							</div>
					</br>
													
						

						<p style = " color: red; ">{{mensaje}}</p>
						
						<b>Nombre</b><b class="aviso"> *</b></br>{{form.first_name}}</br>
						<b>Apellido</b><b class="aviso"> *</b></br>{{form.last_name}}</br>
						<b>DNI</b><b class="aviso"> *</b></br>{{form.dni}}</br></br>	
						<b>Fecha de Nacimiento</b><b class="aviso"> *</b></br>{{form.fecha_nacimiento}}</br>
						<b>Sexo</b><b class="aviso"> *</b></br>{{form.sexo}}</br></br></br>
						<b>Foto de perfil</b><b class="aviso"> *</b></br>{{form.foto_perfil}}</br>
						<b>Email</b><b class="aviso"> *</b></br>{{form.email}}</br></br>
						<b>Telefono</b><b class="aviso"> *</b></br>{{form.telefono}}</br></br>
						<b>Deportes</b><b class="aviso"> *</b></br>

						{% if form.lista_deporte %}
									{{form.lista_deporte}}</br>
									<p class="aviso"> Para cargar un nuevo deporte haz click<a href="{% url 'crear_deporte' %}"> Aquí</a></p>
						{% else %}
									<p class="aviso" ">Aún no se han cargado deportes, haz click <a href="{% url 'crear_deporte' %}"> aquí</a> </p>  
									
						{% endif %}	

						</div>		
					</div>

					
				</div>
				<button class="btn btn-primary" type='submit' value='Aceptar' name= 'bModificar'> Aceptar</button>
				<button class="btn btn-primary" type="button" value="Cancelar" onclick="history.back(-1)" />Cancelar</button>
			</form>
			
		</div>
	</div>
{% endblock %}



