{% extends "baseAdmin.html" %}
{% block contenido %}
	
		<div class="panel-info">
			<div class="page-header">
				<h2>Modificar <i> Perfil Usuario Invitado </i> </h2>
			</div>
			<div class="page-content">		
				<form role="form" method="POST" enctype="multipart/form-data" accept-charset="utf-8">{% csrf_token %}
					<div class="well ">
						<div class=" panel-default">
							<div class="panel-heading">
								<h4>Datos Personales del Usuario Invitado:</h4>
							</div>

						<div class="panel">
							Usuario</br> {{form.username}}</br>
							Contraseña </br>{{form.password}}</br>
							Repetir Contraseña </br>{{form.password2}}<br></br>
							<p style = " color: red; ">{{mensaje}}</p>
							Nombre</br>{{form.first_name}}</br>
							Apellido</br>{{form.last_name}}</br>
							DNI</br>{{form.dni}}</br>
							Fecha de Nacimiento</br>{{form.fecha_nacimiento}}</br>
							Sexo</br>{{form.sexo}}</br>
							Foto de perfil</br>{{form.foto_perfil}}</br>
							Email</br>{{form.email}}</br></br>
							Telefono</br>{{form.telefono}}</br>
							Deportes</br>{{form.lista_deporte}}</br>								
						</div>		
					</div>						

					</div>
					<button class="btn btn-primary" type='submit' value='Aceptar' name= 'bModificar'> Aceptar</button>
					<button class="btn btn-primary" type="button" value="Cancelar" onclick="history.back(-1)" />Cancelar</button>
				</form>
			</div>
		</div>

{% endblock %}



