{% extends "baseAdmin.html" %}

{% block contenido %}
<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Usuarios Invitados</i></h1>
	</div>


	<div class="page-content">
		<form class="form-horizontal">{% csrf_token %}
			<ul class="nav nav-pills navbar-right">
			 	<a title="Agregar Usuario"  href="{% url 'alta_alumno' %}" ><span class="glyphicon glyphicon-plus"></span> Alumno</a>
			 </ul>
		 </form>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre y Apellido</th>
					<th>DNI</th>
					<th>Teléfono</th>
					<th>Email</th>
					
				</tr>
			</thead>

			{% for a in alumnos %}
			<tbody>
				<tr>
					<td> <a href="{% url 'ver_perfil_invitado' a.id %}">{{a.first_name}}&nbsp{{a.last_name}}</a></td>
					<td>{{a.dni}}</td>
					<td>{{a.telefono}}</td>
					<td>{{a.email}}</td>
					<td> <a title="Editar" type="text" title="Modificar" href="{% url 'actualizar_alumnos' a.id %}"><span class="glyphicon glyphicon-edit"></span></a></td>
					<td><a title="Eliminar" type="text" title="Eliminar" href="{% url 'delete_alumno' a.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
		
	</div>
</div>
{% endblock %}
