		<form id="formBusqueda" method="POST">{% csrf_token %}
				
			<input type="text" name="q" value="{{query|escape }}" id="busquedaDeporte">
			
			<button class="btn btn-primary" type="submit" name="btn_buscar" value="Buscar"><span class="glyphicon glyphicon-search"> </span> Buscar</button>
			<button class="btn btn-primary" type="submit" name="btn_limpiar" value="Buscar"><span class="glyphicon glyphicon-remove-circle"></span></button>
			
			<div class="radio">
				<label class="radio-inline"><input type="radio" id="check_nombre" name="opcion" value="nombre" checked=""> Nombre</label>
				
			</div>
		</form>
		
		<div class="form-group">
		 	<p>{{mensaje}}</p>
		 </div>

