{% extends extiende %}
		
{% block contenido %}
<div class="panel-info">
	<div class="page-header panel-default">
		<h1><button title="Volver" class="btn btn-volver" id="boton-atras-deporte" onclick="history.back()" /><span class="glyphicon glyphicon-arrow-left"></span></button>
		<i>{{deporte.nombre}} </i></h1>
	</div>
	<div class="page-content">
		<!-- PORTADA DEL DEPORTE -->
		<div id="contenido-deporte">
			<table class="table tabla-deporte">
				<thead>
					<tr id="deporte-portada" >
						<th id="imagen-portada"><img src="{{deporte.foto.url}}" class="img-responsive img-deporte" ></th>
					
						<!--INFORMACION DEL PROFESOR-->
						<th id="profe-info">
						{% if profesor %}
							{% for p in profesor %}
							<table >
								<thead>
								<tr id="info-profesor">
									<th id="profesor-fila" >
										<img src="{{p.foto_perfil.url}}" class=" img-circle perfil-profesor">
									</th>
									<th id="profesor-fila" >
										<li><label class="control-label">Prof.</label>
										 <p>{{p.obtenerNombreCompleto}}	</p>
										 </li>
										<li><p>{{p.email}}</p></li>
									</th>
								</tr>
								</thead>
							</table>
						{% endfor %}
						{% else %}
							<div class=" form-group has-error has-feedback">
								<strong id="text_error" class="text-danger"><p>Falta asignar Profesor</p></strong>
							</div>
			 			{% endif %}
			 			</th>
		 			</tr>
					
				</thead>
				
	
			</table>
			
			<!-- ACA ESTA LA INFO DEL DEPORTE	-->
			<div id="info-deporte">
				<table class="table tabla-deporte">
					<thead>
						<tr id="cabecera-tabla" >
							<th> Descripción:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{deporte.descripcion}}</td>
						</tr>
					</tbody>
				</table>
				<table class="table tabla-deporte">
					<thead>
						<tr id="cabecera-tabla" >
							<th>Géneros aptos para el deporte:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> {{deporte.ver_aptopara}}</td>
						</tr>
					</tbody>
				</table>	
				<table class="table tabla-deporte">
					<thead>
						<tr id="cabecera-tabla" >
							<th> Horarios de entrenamientos:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> {% if entrenamientos %}
									{% for e in entrenamientos %}
										{{e.ver_horario_completo}}<br>
									{% endfor %}
								{% else %}
									Todavia no se han cargado los horarios de entrenamiento.
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>	
			</div>
		</div>
		
		
	</div>
</div>
{% endblock %}