{% extends "baseAlumno.html" %}

{% block contenido %}

<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Deportes</i></h1>
	</div>
	<div class="page-content">
		{% block buscador %}
			{% include "buscador_deportes.html" %}
		{% endblock %}

	
	<h3> Mis deportes</h3>
	<table class=" table table-striped">
			<thead>
				<tr id="cabecera-tabla">
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Género</th>
					<th>Estado</th>
				</tr>
			</thead>					
			<tbody>
			{% if deportes_alumno %}
			{% for d in deportes_alumno %}
			
				<tr>
					<td><a href="{% url 'deporte_detalle' d.id %}">{{d.nombre}} </a></td>
					<td>{{d.descripcion}}</td>
					<td>{{d.ver_aptopara}}</td>
					<td>				
						{% if d in deportes_alumno %}
							{% if darse_de_baja %}
								<a title="Baja" type="text" href="{% url 'desinscribir_deporte' d.id %}"><span class="glyphicon glyphicon-remove"></span></a>
							{% endif %}
							{% if is_invitado %}
								<span class="glyphicon glyphicon-ok">
							{% endif %}	

						{% endif %}

					</td>
					
				</tr>
			
			{% endfor %}
			{% else %}
			<tr>
				<td><p>Todavia no te has inscripto a ningun deporte!...</p></td>
				<td></td><td></td><td></td>
			</tr>
			{% endif %}
			</tbody>
		</table>


	
	<h3>Más Deportes</h3>
	<table class=" table table-striped">
			<thead>
				<tr id="cabecera-tabla">
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Género</th>
					<th>Estado</th>
				</tr>
			</thead>	
			{% for d in deportes %}
			<tbody>
				<tr>
					<td><a href="{% url 'deporte_detalle' d.id %}">{{d.nombre}} </a></td>
					<td>{{d.descripcion}}</td>
					<td>{{d.ver_aptopara}}</td>
					<td>				
						{% if d in deportes_alumno %}
							{% if is_invitado %}
								<span class="glyphicon glyphicon-ok"></span>
							{% endif %}	

						{% else %}
							{% if is_invitado %}
								<span class="glyphicon glyphicon-ban-circle"></span>
							{% else %}
								<a title="Alta" type="text" href="{% url 'inscripcion_deporte' d.id %}"><span class="glyphicon glyphicon-plus"></span></a>
							{% endif %}
						
						{% endif %}

					</td>
					
				</tr>
			</tbody>
			{% endfor %}
		</table>

		
	</div>
</div>

{% endblock %}

