{% extends "usuario_noLogueado.html" %}
{% block menu %}
	{% if user.is_staff %}
		{% include "menuAdmin.html" %}
	{% endif %}
{% endblock %}

{% block contenido %}
<div class="panel-info">
	<div class="page-header panel-default">
		<h1><b><i>Deportes</i></b></h1>
	</div>
	<div class="page-content">
		<h4><i>Animate a participar en alguno de estos deportes!!...</i></h4>
		<div class="carousel-inner">
			{% include "slider-deportes/slider-deportes.html" %}
		</div>
		<div class="navbar">
			{% for d in deportes %}
				<div class="columns">
					<ul class="price">
						<a href="{% url 'deporte_detalle' d.id %}"><li class=" header">{{d.nombre}}</li></a>
					</ul>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
