{% extends "baseAdmin.html" %}

{% block contenido %}

	<caption><h1>Deportes</h1></caption>

	<div class=" panel-heading">

		 <form class="form-horizontal" method='POST'>
			<ul class="nav navbar-right">
			 	<span class="glyphicon glyphicon-plus"></span> </span> <a href="{% url 'crear-deporte' %}"> Agregar Deporte </a>
			</ul>
			
		 </form>

	 </div>
	<table class="table table-hover table-striped">
		
		
		{% for d in deportes %}
			<tbody>				
				<tr>
					<td>{{d.nombre}}</td>
					<td>{{d.descripcion}}</td>
					<td><a href="{% url 'deporte-actualizar' d.id %}">Modificar</a>&nbsp; &nbsp;<a href="{% url 'eliminar-deportes' d.id %}">Eliminar</a></td>
				</tr>								
			</tbody>
		{% endfor %}
	</table>	
{% endblock %}