{% extends "usuario_noLogueado.html" %}
{% block menu %}
	{% if user.is_staff %}
		{% include "menuAdmin.html" %}
	{% endif %}
{% endblock %}

{% block contenido %}
	<div class="page-header">
		<h1><b><i>Deportes</i></b></h1>
	</div>
	<div class="page-content">
	<h3>Animate a participar en alguno de estos deportes!!...</h3>
		<div class="carousel">
			{% include "slider-deportes/slider-deportes.html" %}
		</div>
		<div class="navbar">
			{% for d in deportes %}
				<div class="columns">
					<ul class="price">
						<a href="{% url 'deporte_detalle' d.id %}"><li class=" header">{{d.nombre}}</li></a>
					</ul>
				</div>
			{% endfor %}
		</div>
		

	</div>
{% endblock %}
