{% extends "usuario_noLogueado.html" %}

{% block contenido %}
	<div class="page-header">

		<h1><b><i>Deportes</i></b></h1>

	</div>
	<div class="page-content">
		<div class="nav navbar nav-pills ">
			{% for d in deportes %}
				<div class="columns">
					<ul class="price">
						<a href="#"><li class=" header">{{d.nombre}}</li></a>
						<!--<li class="grey"><h4>{{d.descripcion}}</h4></li>
						<li><a href="#">Ver mas</a></li>
						<li class="grey"><a href="#" class="button">Inscribirse</a></li> -->

					</ul>
				</div>
			{% endfor %}
		</div>
		<div class="carousel">
			{% include "slider-deportes/slider-deportes.html" %}
		</div>
	</div>
{% endblock %}
