{% extends extiende %}
{% block contenido %}
	<table class="table table-hover table-striped">
		<caption><h1><i>Deportes de </i><b>{{usuario}}</b>: </h1></caption>
		
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripción</th>
			</tr>
		</thead>
		
		{% for d in deportes %}
			<tbody>
				<tr>
					<td>{{d.nombre}} </td>
					<td>{{d.descripcion}}</td>
					<td><a type="text" href="{% url 'desinscribir_deporte' d.id %}">Darse de Baja</a></td>
				</tr>
			</tbody>
		{% endfor %}

	</table>
	
{% endblock %}