{% extends extiende %}
{% block contenido %}
<div class="panel-info">	
	<div class="page-header panel-default">
		<h1><i>Mis Deportes</i> {{mensaje}} </h1>
	</div>
	<div class="page-content">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
				</tr>
			</thead>
			
		{% for d in deportes %}
			<tbody>
				<tr>
					<td>{{d.nombre}} </td>
					<td>{{d.descripcion}}</td>
					{% if editar_info %}
						<td><a title="Editar" type="text" href="{% url 'editar_info_deporte' d.id %}"><span class="glyphicon glyphicon-edit"></span></a></td>
					{% endif %}
					{% if darse_de_baja %}
						<td><a title="Baja" type="text" href="{% url 'desinscribir_deporte' d.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
					{% endif %}
					
				</tr>
			</tbody>
		{% endfor %}

		</table>
	</div>
</div>	
	
{% endblock %}