{% extends "baseAdmin.html " %}

{% block contenido %}
<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Usuarios</i></h1>
	</div>
	<div class="page-content">
		{% block buscador %}
			{% include "buscador_usuarios.html" %}
		{% endblock %}
		
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre y Apellido</th>
					<th>Email</th>
					<th>Deportes</th>
				</tr>
			</thead>
			{% for u in usuarios %}
				<tbody>				
					<tr>
						<td>{{u.first_name}}&nbsp{{u.last_name}}</td>
						<td>{{u.email}}</td>
						<td>{{u.ver_lista_deporte}}</td>
						<td><a title="Editar" href="#"><span class="glyphicon glyphicon-edit"></span></a></td>
						<td><a title="Eliminar" href="#"><span class="glyphicon glyphicon-remove"></span></a></td>
					</tr>								
				</tbody>
			{% endfor %}
		</table>		
	</div>
</div>
{% endblock %}