{% extends "baseAdmin.html " %}

{% block contenido %}
<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Usuarios</i></h1>
	</div>
	<div class="page-content">
		<form class="form-horizontal" method='POST'>
			 <ul class="nav nav-pills navbar-right">
			 	<li><a href=""><span class="glyphicon glyphicon-plus"></span> </span> Nuevo Usuario </a></li>
			 </ul>
		 </form>
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
				</tr>
			</thead>
			{% for u in usuarios %}
				<tbody>				
					<tr>
						<td>{{u.first_name}}</td>
						<td><a href="#">Modificar</a></td>
						<td><a href="#">Eliminar</a></td>
					</tr>								
				</tbody>
			{% endfor %}
		</table>		
	</div>
</div>
{% endblock %}