{% extends "base2.html" %}
{% block inicio %}
   <li class="{% if 'inicial_profesores' == request.resolver_match.view_name %}active{% endif %}">
    <a href="{% url 'inicial_profesores' %}">Inicio</a></li>
{% endblock %}

{% block menu %}
	{% include "baseProfesor.html" %}
{%endblock %}

{% block contenido %}
<h1>Lista de Alumnos de <u>{{nombre}}</u></br></h1>
Seleccione alumno para ver informacion:
{% for a in alumnos %}
	<li><a href="{% url 'info-alumno' a.id %}">{{a.obtenerNombreCompleto}}</a></li>
{% endfor %}

{% endblock %}