{% extends "baseProfesor.html" %}

{% block contenido %}
	<div class="panel-info">
		<div class="page-header panel-default">
			<h1><i>Lista de alumnos de <b>{{nombre}}</b></i> </h1>
		</div>

	<div class="page-content">
		<form method="POST">{% csrf_token %}
			<label for="q">Busqueda: </label>
    		<input type="text" name="q" value="{{query|escape }}">
    		<button class="btn btn-primary" type="submit" name="btn_buscar" value="Buscar">Buscar</button>
    		<div class="radio">
	    		<label class="radio-inline"><input type="radio" name="opcion" value="legajo">Legajo</label>
	  			<label class="radio-inline"><input type="radio" name="opcion" value="carrera">Carrera</label>
	  			<label class="radio-inline"><input type="radio" name="opcion" value="apellido">Apellido</label> 
  			</div>
		</form>
		<div class=" panel-heading">
			<h4>Seleccione alumno para ver informacion:</h4>
		</div>
		<table class="table table-striped">	
			<thead>
				<tr id="cabecera-tabla">
					<th>Nombre y Apellido </th>
					<th> Tipo de Usuario</th>
					<th> Carrera</th>
					<th> Legajo</th>
				</tr>
			</thead>
			<tbody>
			{% if alumnos %}
				{% for a in alumnos %}
					<tr>
						<th><a href="{% url 'info-alumno' a.id %}">{% if a.tipo_usuario == 'alumno' %}obtener del sysacad {% else %} {{a.obtenerNombreCompleto}} {% endif %}</a></th>
				    	<th>{{a.tipo_usuario}}</th>
				    	{% if a.tipo_usuario == 'alumno' %}
				    		<th>obtener del sysacad</th>
				    		<th>{{a.legajo}}</th>
				    	{% else %}
				    		<th>-</th>
				    		<th>-</th>
				    	{% endif %} 	
				    </tr>    				  		
				{% endfor %}
			{% else %}
				<tr>
					<th><h4>{{mensaje|safe}}</h4>
					<button class="btn btn-default" type="button" value="Volver" onclick="history.back(-1)" />Cancelar</button>

				</tr>
			{% endif %}	
			</tbody>
		</table>
		<button class="btn btn-primary"  type="button" value="Volver" onclick="history.back(-1)" />Volver</button>
		</div>
	</div>
{% endblock %}