{% extends "baseProfesor.html" %}
{% block contenido %}
<!-- -->
<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Mi Perfil</i></h1>
	</div>
	<ul class="nav navbar-right nav-pills">
		<li><a href="{% url 'editar_error' %}"><span class="glyphicon glyphicon-edit"></span> </span>Editar Perfil</a></li>

	</ul>
	<div class="page-content">
		{% csrf_token %}
			<div class="img-perfil">
				<img src="{{profesor.foto_perfil.url}}" class="img-circle perfil" >
				<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
        			{{ form.as_p }}
        			<button class="btn btn-primary" type="submit">Cambiar</button>
        			<label>{{mensaje}}</label>
			</div>
			<table class="table table-condensed contacto-tabla">
				<tr class="form-group">
					<td><label class=" control-label">Nombre:  </label></td>
					<td><label class=" control-label"> {{nombre}} </label></td>
				</tr>
				<tr class="form-group">
					<td><label class="control-label">Apellido:  </label></td>
					<td><label class=" control-label"> {{apellido}} </label></td>
				</tr>
				<tr class="form-group">
					<td><label class=" control-label">Sexo:  </label></td>
					<td><label class=" control-label">{{sexo}}</label></td>
				</tr>
				<tr class="form-group">
					<td><label class=" control-label">DNI:  </label></td>
					<td><label class=" control-label"> {{dni}}</label></td>
				</tr>
				<tr class="form-group">
					<td><label class=" control-label">Legajo:  </label></td>
					<td><label class=" control-label">{{legajo}}</label></td>
				</tr>
				<tr class="form-group">
					<td><label class="control-label">Fecha Nacimiento:  </label></td>
					<td><label class="control-label">{{fecha_nacimiento}}</label></td>
				</tr>
				<tr class="form-group">
					<td><label class="control-label">Telefono:  </label></td>
					<td><label class=" control-label">{{telefono}}</label></td>
				</tr>
				<tr class="form-group">
					<td><label class=" control-label">Dirección:  </label></td>
					<td><label class=" control-label">{{direccion}}</label></td>
				</tr>
			</table>
	</div>
</div>
	
{% endblock %}


	

	
