{% extends "baseProfesor.html" %}
{% block contenido %}
<!-- -->
<div class="panel-info">
	<div class="page-header">
		<h1><i>Mi Perfil</i></h1>
	</div>
	<div class="page-content">
		{% csrf_token %}
			<div class="img-perfil">
				<img src="{{profesor.foto_perfil.url}}" class="img-circle perfil" >
				<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
        			{{ form.as_p }}
        			<button type="submit">Cambiar</button>
        			<label>{{mensaje}}</label>
			</div>
			<ul class="nav navbar-nav navbar-right nav-pills">
				<li><a href="{% url 'editar_error' %}"><span class="glyphicon glyphicon-edit"></span> </span>Editar Perfil</a></li>

			</ul>
			<div class="perfil-datos">
				<div class="form-group">
					<label class=" control-label">Nombre:  </label>
					<label class=" control-label"> {{nombre}} </label>
				</div>
				<div class="form-group">
					<label class="control-label">Apellido:  </label>
					<label class=" control-label"> {{apellido}} </label>
				</div>
				<div class="form-group">
					<label class=" control-label">Sexo:  </label>
					<label class=" control-label">{{sexo}}</label>
				</div>
				<div class="form-group">
					<label class=" control-label">DNI:  </label>
					<label class=" control-label"> {{dni}}</label>
				</div>
				<div class="form-group">
						<label class=" control-label">Legajo:  </label>
						<label class=" control-label">{{legajo}}</label>
				</div>
				<div class="form-group">
					<label class="control-label">Fecha de Nacimiento:  </label>
					<label class="control-label">{{fecha_nacimiento}}</label>
				</div>
				<div class="form-group">
					<label class="control-label">Telefono:  </label>
					<label class=" control-label">{{telefono}}</label>
				</div>
				<div class="form-group">
					<label class=" control-label">Dirección:  </label>
					<label class=" control-label">{{direccion}}</label>
				</div>
			</div>
	</div>
</div>
	
{% endblock %}


	

	
