{% extends "baseProfesor.html" %}
{% block contenido %}
	<div class="page-header">
		<h1><i>Deportes:</i></h1>
	</div>
	<div class="page-content">
		<ul class="nav nav-pills">
		<!--Deportes de {{user.first_name}}-->
			{% for d in deportes %}
				<li><a href="{% url 'ver-alumnos' d.id %}">{{d.nombre}}</a></li>
			{% endfor %}
		<!--Otros deportes-->
			{% for d in otrosDeportes %}
				<li><a href="{% url 'ver-alumnos' d.id %}">{{d.nombre}}</a></li>
			{% endfor %}
		</ul>
	</div>
	
{% endblock %}