{% extends "baseProfesor.html" %}

{% block contenido %}

<div class="panel-info">

	<div class="page-header panel-default">

		<h1><i>Notificaciones</i></h1>

	</div>

	<div class="page-content">
		{% if lista_notificaciones %}
			
			<table class="table table-success table-hover ">
				{% for n in lista_notificaciones %}
					<tr>
						<td class="text-justify"> <a href="{% url 'ver_informacion_perfil_persona' n.id_autor_comentario%}" id = "link-Publicacion" >{{n.autor_comentario}}</a> ha hecho un comentario sobre su <a href="{% url 'ver_novedades' n.novedad.id %}" id = "link-Publicacion">Publicación</a></td>

						<td><form method="POST">{% csrf_token %}
							<button type="submit" name="boton_eliminarNotificacion" value="{{n.id}}" ><span class="glyphicon glyphicon-remove" ></span></button>
						</form></td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>Por el momento no existen notificaciones.</p>
		{% endif %}
	</div>

</div>

{% endblock %}
