{% extends "baseAdmin.html" %}
{% block contenido %}

	<div class="well ">
		<div class="panel-info">
			<h2><i>Alta Profesor</b> </h2>
					
			<form role="form" method="POST" enctype="multipart/form-data" accept-charset="utf-8">{% csrf_token %}
				<div class="panel" > 
					<div class=" panel-default">
						<div class="panel-heading">
							<h4>Datos del Profesor:</h4>
							<p class="aviso"> (*) campos obligatorios</p>
						</div>

								<b>Usuario</b><b class="aviso"> *</b></br> {{form.username}}</br></br>
								<b>Contraseña</b> <b class="aviso"> *</b></br>{{form.password}}</br>
								<b>Repetir Contraseña</b> <b class="aviso"> *</b></br>{{form.password2}}<br></br>

								<p style = " color: red; ">
									
								{{mensaje}}</p>

								<b>Nombre</b><b class="aviso"> *</b></br>{{form.first_name}} </br>
								<b>Apellido</b><b class="aviso"> *</b></br>{{form.last_name}} </br>
								<b>DNI</b><b class="aviso"> *</b></br>{{form.dni}}</br></br>
								<b>Fecha de Nacimiento</b><b class="aviso"> *</b></br>{{form.fecha_nacimiento}}</br></br>
								<b>Sexo</b><b class="aviso"> *</b></br>{{form.sexo}}</br></br>
								<b>Email</b><b class="aviso"> *</b></br>{{form.email}} </br></br>
								<b>Telefono</b></br>{{form.telefono}} </br></br>
								<b>Deportes </b><b class="aviso"> *</b></br>

								{% if form.lista_deporte %}
									{{form.lista_deporte}}</br>
									<p class="aviso"> Para cargar un nuevo deporte haz click
								{% else %}

									<p class="aviso" >Aún no se han cargado deportes, haz click
								
								{% endif %}
								<a href="{% url 'crear_deporte' %}"> Aquí</a> </p>

					</div>
					<div class=" panel-default">
						<div class="panel-heading">
							<h4><b>Direccion del Contacto:</b></h4>
						</div>
							<b>Calle</b></br> {{form_direccion.calle}}</br>
							<b>Altura</b></br> {{form_direccion.altura}}</br>
							<b>Piso</b></br> {{form_direccion.piso}}</br>
							<b>Nro Departamento</b></br> {{form_direccion.nro_departamento}}</br>
							<b>Provincia</b></br> {{form_direccion.provincia}}</br>
							<b>Localidad</b></br> {{form_direccion.localidad}}</br>


						
					</div>	
							
				</div>
				<input  class="btn btn-primary"  type='submit' value='Aceptar' name= 'boton_alta'>
				<button class="btn btn-primary" type="button" value="Cancelar" onclick="history.back(-1)" /> Cancelar </button>
			</form>
			
		</div>
	</div>
{% endblock %}
