{% extends "baseAdmin.html" %}

{% block contenido %}
<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Profesores</i></h1>
	</div>


	<div class="page-content">
		<form class="form-horizontal">{% csrf_token %}

			<ul class=" navbar-right">
			 	<a title="Agregar Profesor" href="{% url 'alta_profesor' %}" ><span class="glyphicon glyphicon-plus"></span> Profesor</a>
			 </ul>
		 </form>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre y Apellido</th>
					<th>Email</th>
					<th>Deporte</th>	
								
				</tr>
			</thead>
			
			{% for p in profes %}
			<tbody>
				<tr>
					<td><a href="{% url 'ver_perfil_profesor' p.id %}">{{p.first_name}}&nbsp{{p.last_name}}</a> </td>
					<td>{{p.email}}</td>					
					<td>{{p.ver_lista_deporte}}</td>
					
					<td><a title="Editar" type="text" title="Modificar" href="{% url 'actualizar_profes' p.id %}"><span class="glyphicon glyphicon-edit"></span></a></td>
					<td> <a title="Eliminar" type="text" title="Eliminar" href="{% url 'delete_profe' p.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
				<!--<a href="{% url 'delete_profe' p.id %}">eliminar {{p.id}}</a>-->
			{% endfor %}
			</tbody>
		</table>
		
	</div>
	<center>
		{% include "includes/_paginado.html" %}	
	</center>
</div>
{% endblock %}
