{% extends "baseAdmin.html" %}
{% block contenido %}
	
	<script type="text/javascript" type="text/javascript">
function mostrar(contrasenia){
	if (document.getElementById(contrasenia).style.display==''){
		document.getElementById(contrasenia).style.display='none';

	}else {
		document.getElementById(contrasenia).style.display='';
	}
}
</script>
	<div class="panel-info">
		<div class="page-header">
			<h1><button title="Volver" class="btn btn-volver" id="boton-atras-deporte" onclick="history.back()" /><span class="glyphicon glyphicon-arrow-left"></span></button>
			<i>Modificar Perfil Profesor </i> </h1>
		</div>	
		<div class="page-content">	
			<form role="form" method="POST" enctype="multipart/form-data" accept-charset="utf-8">{% csrf_token %}
				<div class="well "> 
					<div class=" panel-default">
						<div class=" panel panel-heading">
							<h4><b>Datos Personales del Profesor: </b></h4>
							<p class="aviso"> (*) campos obligatorios</p>
						</div>
						<b>Usuario</b><b class="aviso"> *</b></br> {{form.username}}</br></br>
						<p><a href="#" onclick="mostrar('contrasenia')";>Cambiar Contraseña</a></p>
						<div style='display:none' id='contrasenia'>
							<label>Contraseña</label> </br>{{form.password}}</br></br>
							<label>Repetir Contraseña</label> </br>{{form.password2}}</br></br>
						</div>
						
						{% include 'mensaje.html' %}

						<b>Nombre</b><b class="aviso"> *</b></br>{{form.first_name}}</br></br>
						<b>Apellido</b><b class="aviso"> *</b></br>{{form.last_name}}</br></br>
						<b>DNI</b><b class="aviso"> *</b></br>{{form.dni}}</br></br>
						<b>Fecha de Nacimiento</b><b class="aviso"> *</b></br>{{form.fecha_nacimiento}}</br></br>
						<b>Sexo</b><b class="aviso"> *</b></br>{{form.sexo}}</br></br>
						
						<b>Email</b> <b class="aviso"> *</b> </br> {{form.email}}</br></br>
						<b>Teléfono</b><b class="aviso"> *</b></br>{{form.telefono}}</br></br>
						<b>Deportes</b><b class="aviso"> *</b></br>
						{% if form.lista_deporte %}
									{{form.lista_deporte}}</br>
									<p class="aviso"> Para cargar un nuevo deporte haz click<a href="{% url 'crear_deporte' %}"> Aquí</a></p>
						{% else %}
									<p class="aviso">Aún no se han cargado deportes, haz click <a href="{% url 'crear_deporte' %}"> aquí</a> </p>  

						{% endif %}	

					</div>

					<div class=" panel-default">
						<div class="panel-heading">
							<h4><b>Direccion del Contacto:</b></h4>
						</div>
							<b>Calle</b> </br> {{form_direccion.calle}}</br>
							<b>Altura</b></br> {{form_direccion.altura}}</br>
							<b>Piso</b></br> {{form_direccion.piso}}</br>
							<b>Nro Departamento</b></br> {{form_direccion.nro_departamento}}</br>
							<b>Provincia</b></br> {{form_direccion.provincia}}</br>
							<b>Localidad</b></br> {{form_direccion.localidad}}</br>						
					</div>	
				</div>
				<button class="btn btn-primary" type='submit' value='Aceptar' name= 'bModificar'> Aceptar</button>
				<button class="btn btn-primary" type="button" value="Cancelar" onclick="history.back(-1)" />Cancelar</button>
			</form>
		</div>
	</div>
{% endblock %}



