{% extends "baseProfesor.html" %}


{% block contenido %}
	<caption><h1><b><i>Novedades</i></b></h1></caption>
	<div class=" panel-heading">
		 <form class="form-horizontal" method='POST'>
		 	<ul class="nav navbar-right">
		 		<span class="glyphicon glyphicon-plus"></span> </span><a href="{% url 'crear-novedad' %}">Crear Novedad</a>
		 	</ul>
		 </form>
	 </div>
	 {% for novedad in object_list %}
		<div class="fondo_mensaje esquinas">
			<div class="titular-comentario contenido-comentario esquinas">
				<table>
					<tr>
						<td class="td_perfil"><img src="../media/img/perfil.jpg" width="40px" height="50px" border="0"></td>
						<td class="td_titulo"><b><h2 class="titulo_novedad">{{novedad.titulo}}</h2></b>
						<p>{{novedad.fecha_publicacion}}</p>
						</td>
						<!-- <td><a href="">Comentar</a></td> -->
						<td class="td_responder"><a href="{% url 'actualizar-novedad' novedad.id %}"> Editar</a></td>

					</tr>
				</table>
			</div>
			<div class="texto_mensaje">
				<p>{{novedad.contenido|safe}}</p>
			</div>
			
		</div>
		
	{% endfor %}
{% endblock %}


