{% extends "baseProfesor.html" %}



{% block contenido %}
		<table class="table table-striped">
			<caption><h1>Novedades</h1></caption>
			<thead>
				<tr class="success">
					
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<th>{{novedades.titulo}}</th>
					<td>{{novedades.contenido}}</td>
					<td> {{novedades.fecha_publicacion}}</td>
					<td>{{novedades.autor}}</td>
					<td>Grupo: {{novedades.visibilidad}}</td>
					<td>categoria: {{novedades.obtener_categorias}}</td>
				</tr>	
				<tr>
				{% if user.is_authenticated %}
					<td><a href="{% url 'actualizar-novedad' novedades.id %}">Modificar</a></td>
					<td><a href="{% url 'eliminar-novedad' novedades.id %}">Eliminar</a></td>
					<td><a href="{% url 'listar-novedades' %}"> Ver Todas</a></td>
				{% endif %}
				</tr>
			</tbody>
			
		</table>
		
		
	</div>

	
{% endblock %}




