{% extends "baseProfesor.html" %}

{% block contenido %}
<!--
<script type="text/javascript">

		function showContent() {
	        element_fecha = document.getElementById("div_escondido_fecha"); 
	        seleccion_fecha = document.getElementById("check_fecha");
		        if (seleccion_fecha.checked) {
		            element_fecha.style.display='block';
          					        }
		        else {
		            element_fecha.style.display='none';
		        }

		    element_autor = document.getElementById("div_escondido_autor"); 
	        seleccion_autor = document.getElementById("check_autor");
		        if (seleccion_autor.checked) {
		            element_autor.style.display='block';

		        }
		        else {
		            element_autor.style.display='none';
		        }

		}
		
	</script> -->

<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Mis Novedades</i>
		<ul class=" navbar navbar-right nav-pills">
	 		<a title="Crear Novedad" href="{% url 'crear-novedad' %}"><button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></a>
	 	</ul></h1>
	</div>
	<div class="page-content">
 		{% for novedad in object_list %}
			<div class="fondo_mensaje esquinas">
				<div class="titular-comentario contenido-comentario esquinas">
					<table class="tabla_comentario">
						<tr>
							<td class="td_perfil"><img class="img_perfil" src="{{novedad.obtener_url_imagen}}" ></td>
							<td class="td_titulo small"><a href="{% url 'ver_novedades' novedad.id %}"><b><h3 class="titulo_novedad">{{novedad.titulo}}</h3></b></a>

							<p class="fecha">{{novedad.fecha_publicacion}}</p>
							</td>
							<td class="td_responder"><a title="Editar" href="{% url 'actualizar-novedad' novedad.id %}"> <span  class="glyphicon glyphicon-edit" > </span> </a></td>
							<td class="td_responder"><a title="Eliminar" href="{% url 'eliminar-novedad' novedad.id %}"> <span  class="glyphicon glyphicon-remove" > </span></a></td>

						</tr>
					</table>
				</div>		
			</div>	
		{% endfor %}
	</div>
	<div class="pagination">
    	<ul class="navbar navbar-left">
			{% if paginator.has_prev %}
					<li><a href="?page={{ paginator.prev_page }}"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
			{% endif %}
		</ul>
		<ul class="navbar navbar-right">		
			{% if paginator.has_next %}
					<li><a href="?page={{ paginator.next_page }}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
			{% endif %}
			
		</ul>
	</div>
</div>	
			
{% endblock %}


