{% extends "base2.html" %}

{% block inicio %}
   <li class="{% if 'inicial_profesores' == request.resolver_match.view_name %}active{% endif %}">
    <a href="{% url 'inicial_profesores' %}">Inicio</a></li>
{% endblock %}

{% block menu %}
	{% include "baseProfesor.html" %}
{%endblock %}

{% block contenido %}
	
		<div class="panel-heading" align="center">
			<h1>Novedades {{novedades.titulo}}</h1>
		</div>
		<div class="panel-body" >
			<form action='' method='POST'>
				{% csrf_token %}
				{{ form.as_p }}
				<input type='submit' value='Confirmar'>
			</form>
		</div>

	
{% endblock %}



