{% extends "baseProfesor.html" %}

{% block contenido %}
	<div class="panel-info">
		<div class="page-header">
            <h2><i>Novedad</i> </h2>
        </div>
		<div class="page-content">
			<form action='' method='POST'>{% csrf_token %}
				{% for field in form %}
			 		<div>
			 		<p>{{field.label}}</p>
					{{field}}	
					</div>									
				{% endfor %}
				<button class="btn btn-default" type='submit' value='Confirmar'>Confirmar</button>
			    <button class="btn btn-default" type="button" value="Cancelar" onclick="history.back(-1)" />Cancelar</button>
			</form>
		</div>
	</div>	
{% endblock %}



