{% extends "baseProfesor.html" %}



{% block contenido %}
<div class="panel-info">
		<table class="table table-striped">
			<caption><h1>Novedades</h1></caption>
			<thead>
				<tr class="success">
					
				</tr>
			</thead>
			<tbody>
				
				<tr>
					<th>{{novedades}}</th>
					<td>{{novedades.contenido}}</td>
					<td> {{novedades.fecha_publicacion}}</td>
					<td>{{novedades.autor}}</td>
					<td>Grupo: {{novedades.visibilidad}}</td>
					<td>categoria: {{novedades.obtener_categorias}}</td>
				</tr>	
				<tr>			
					<td><a title="Editar" type="text" href="{% url 'actualizar-novedad' novedades.id %}"><span class="glyphicon glyphicon-edit" > </span> </a></td>
					<td><a title="Eliminar" type="text" href="{% url 'eliminar-novedad' novedades.id %}" ><span class="glyphicon glyphicon-remove" > </span></a></td>
					<td><a href="{% url 'listar-novedades' %}"> Ver Todas</a></td>

				</tr>
			</tbody>
			
		</table>
		
		
	</div>

	
{% endblock %}




