{% extends "baseAdmin.html" %}

{% block contenido %}
	<div class="panel-heading" align="center">
		<h4>¿Está seguro que desea eliminar esta novedad <b>"{{novedad.titulo}}"?</b></h4>
	</div>
	<div class="panel-body" align="center">
		<form action='' method='POST'>
			{% csrf_token %}
			<button class="btn btn-default" type='submit' name="boton_confirmar" value='Confirmar'>Confirmar</button>
			<button class="btn btn-default" type="button" value="Cancelar" onclick="history.back(-1)" />Cancelar</button>
		</form>
	</div>	

{% endblock %}