{% extends "baseAdmin.html" %}

{% block contenido %}
<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Novedades {{mensaje}}</i></h1>
	</div>

	<div class="page-content">
		<form class="form-horizontal">{% csrf_token %}
			<ul class="nav nav-pills navbar-right">
			 	<li><a href="{% url 'crear_novedad_admin' %}"><span class="glyphicon glyphicon-plus"></span> </span>Nueva Novedad</a></li>
			 </ul>
		 </form>

		<!-- BUSCADOR -->
	 	<div>
			<form method="POST">{% csrf_token %}
				<label for="q">Busqueda: </label>
	    		<input type="text" name="q" value="{{query|escape }}">
	    		<input class="btn btn-primary" type="submit" name="btn_buscar" value="Buscar">
	    		
	    		<input type="radio" name="opcion" value="fecha">Fecha
	  			<input type="radio" name="opcion" value="autor">Autor
	  			<input type="radio" name="opcion" value="titulo">Titulo 
			</form>
		</div>
		<!-- FIN BUSCADOR -->

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Autor</th>
					<th>Deporte</th>
					<th>Visible para</th>
					<th>Fecha Publicacion</th>
				</tr>
			</thead>

			{% for n in novedades %}
				<tbody>
					<tr>

						<td><a href="{% url 'editar_novedad_admin' n.id %}">{{n.titulo}}</a> </td>
						<td>
							{% if n.autor.is_superuser %}
								{{n.autor.username}} 
							{%else%}
								{{n.autor.get_full_name}}
							{% endif %}
						</td>
						<td>
							{% if n.categoria.all %}
								{{n.obtener_categorias}}
							{% else %}
								--
							{% endif %}
						</td>
						<td>{{n.ver_visibilidad}}</td>
						<td>{{n.fecha_publicacion}} </td>
						<td>
							<button class="btn"><a href="{% url 'visualizar_novedad_admin' n.id %}">Visualizar</a></button>
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>	
</div>

	

{% endblock %}