{% extends "baseAdmin.html" %}

{% block contenido %}
	
	<script type="text/javascript">

		function showContent() {
	        element_fecha = document.getElementById("div_escondido_fecha"); 
	        seleccion_fecha = document.getElementById("check_fecha");
		        if (seleccion_fecha.checked) {
		            element_fecha.style.display='block';
          					        }
		        else {
		            element_fecha.style.display='none';
		        }

		    element_autor = document.getElementById("div_escondido_autor"); 
	        seleccion_autor = document.getElementById("check_autor");
		        if (seleccion_autor.checked) {
		            element_autor.style.display='block';

		        }
		        else {
		            element_autor.style.display='none';
		        }

		}
		
	</script>



<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Novedades</i></h1>
	</div>

	<div class="page-content">
		<div class="form-group">
			<form class="form-horizontal">{% csrf_token %}
				<ul class=" navbar-right">
			 		<li><a title="Nueva Novedad" href="{% url 'crear_novedad_admin' %}"><span class=" glyphicon glyphicon-plus"></span> Novedad</a></li>
			 	</ul>
			</form>
		</div>
		 <!-- BUSCADOR -->
	 	<div >
			<form id="formBusqueda" method="POST">{% csrf_token %}
				<div class="form-horizontal">
					<input type="text" name="q" value="{{query|escape }}">
    				<button class="btn btn-primary" type="submit" name="btn_buscar" value="Buscar"><span class="glyphicon glyphicon-search"> </span> Buscar</button>
					<input type="radio" id="check_autor" name="opcion" value="autor" onchange="javascript:showContent()" > Autor
					<input type="radio" name="opcion" value="titulo" onchange="javascript:showContent()"> Titulo
					<input type="radio" id="check_fecha" name="opcion" value="fecha" id="fecha" onchange="javascript:showContent()">Fecha
					<div class="nav" id="div_escondido_autor" style="display: none;">
						<form method="POST">{% csrf_token %}
							Ingrese el parametro de busqueda por Autor:</br>
							<input type="radio" name="opcion_autor" value="nombre" checked="">Nombre</br>	
							<input type="radio" name="opcion_autor" value="apellido">Apellido
						</form>
					</div>
					<div class="form-group" id="div_escondido_fecha" style="display: none;">
						Ingrese la fecha con el siguiente formato: DD/MM/AAAA</br>
						<input  type="checkbox" name="fecha" value="dia" checked> Día</br>
						<input  type="checkbox" name="fecha" value="mes" checked> Mes</br>
						<input  type="checkbox" name="fecha" value="anio" checked> Año
					</div>
					
				</div>   			
			</form>
		</div>
		<div class="form-group">
		 	<p>{{mensaje}}</p>
		 </div>
		<!-- FIN BUSCADOR -->

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Autor</th>
					<th>Deporte</th>
					<th>Visible para</th>
					<th>Fecha Publicacion</th>
				</tr>
			</thead>				
			<tbody>
				{% if novedades %}
					{% for n in novedades %}
						<tr>
							<td><a href="{% url 'visualizar_novedad_admin' n.id %}">{{n.titulo}}</a></td>
							<td>
								{% if n.autor.is_superuser %}
									{{n.autor.username}} 
								{%else%}
									{{n.autor.get_full_name}}
								{% endif %}
							</td>
							<td>
								{% if n.categoria.all %}
									{{n.obtener_categorias}}
								{% else %}
									--
								{% endif %}
							</td>
							<td>{{n.ver_visibilidad}}</td>
							<td>{{n.fecha_publicacion}} </td>
							<td>
								<a title="Editar" href="{% url 'editar_novedad_admin' n.id %}"><span class="glyphicon glyphicon-edit"></span></a>
							</td>
							<td>
								<a title="Eliminar" href="{% url 'eliminar_novedad_admin' n.id %}"><span class="glyphicon glyphicon-remove"></span></a>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<!--<tr>
						<th><h4>{{mensaje|safe}}</h4>
						<th>-</th>
						<th>-</th>
						<th>-</th>
						<th>-</th>
						<button class="btn btn-default" type="button" value="Volver" onclick="history.back(-1)" />Cancelar</button>
					</tr>-->
				{% endif %}							
			</tbody>											

		</table>
	</div>	
</div>

	

{% endblock %}