{% extends "baseAdmin.html" %}

{% block contenido %}
	<div class="page-header">
		<h1><i>Novedades</i></h1>
	</div>

	<div class="page-content">
		<form class="form-horizontal" method='POST'>{% csrf_token %}
			<ul class="nav navbar-nav nav-pills navbar-right">
			 	<li><a href="{% url 'crear_novedad_admin' %}"><span class="glyphicon glyphicon-plus"></span> </span>Nueva Novedad</a>
			 </ul>
		 </form>
		 <!-- BUSCADOR -->
	 	<div>
			<form method="POST">{% csrf_token %}
				<label for="q">Busqueda: </label>
	    		<input type="text" name="q" value="{{query|escape }}">
	    		<input type="submit" name="btn_buscar" value="Buscar">
	    		
	    		<input type="radio" name="opcion" value="fecha">Fecha
	  			<input type="radio" name="opcion" value="autor">Autor
	  			<input type="radio" name="opcion" value="titulo">Titulo 
			</form>
		</div>

		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Titulo</th>
					<th>Autor</th>
					<th>Deporte</th>
					<th>Visible para</th>
					<th>Fecha Publicacion</th>
				</tr>
			</thead>

			{% for n in novedades %}
				<tbody>
					<tr>
						<td><a href="{% url 'editar_novedad_admin' n.id %}">{{n.titulo}}</a> </td>
						<td>
							{% if n.autor.is_superuser %}
								{{n.autor.username}} 
							{%else%}
								{{n.autor.get_full_name}}
							{% endif %}
						</td>
						<td>
							{% if n.categoria.all %}
								{{n.obtener_categorias}}
							{% else %}
								--
							{% endif %}
						</td>
						<td>{{n.ver_visibilidad}}</td>
						<td>{{n.fecha_publicacion}} </td>
						<td>
							<form method="POST">{% csrf_token %}
								<input type='submit' value='Visualizar' name="boton_visualizar">
								<input type='hidden' value='{{n.id}}' name="boton_visualizar_id">
							</form>
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>	


	

{% endblock %}