{% extends "base2.html" %}
{% block inicio %}
         <li class="{% if 'inicial_profesores' == request.resolver_match.view_name %}active{% endif %}">
        <a href="{% url 'inicial_profesores' %}">Inicio</a></li>
       
       
{% endblock %}

{% block menu%}
    <!--Menu de Perfil -->
	<div class=" sidebar-nav menu">
        <div class="navbar navbar-default menu" role="navigation">
            <div class="navbar-header menu">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#perfil-prof">
                    <span class="sr-only">Desplegar/ocultar menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-header menu">
                    <div class="visible-xs panel-heading" align="center">
                         <h3 class="panel-title">Mi perfil</h3>
                    </div>
                </span>
            </div>

            <div class="navbar-collapse collapse" id="perfil-prof">
                <div class="visible-lg visible-md visible-sm panel-heading" align="center">
                         <h3 class="panel-title">Mi perfil</h3>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if 'modificar_perfil_profesor' == request.resolver_match.view_name %}active{% endif %}">
                    <a href="{% url 'modificar_perfil_profesor' %}">Ver Perfil</a></li>
                    <li  class="{% if 'ver_notificaciones_profesor' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'ver_notificaciones_profesor' %}">Ver notificaciones</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--Menu de Novedades -->
    <div class=" sidebar-nav menu">
          <div class="navbar navbar-default menu" role="navigation">
            <div class="navbar-header menu">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#novedades-prof">
                    <span class="sr-only">Desplegar/ocultar menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-header menu">
                    <div class="visible-xs panel-heading" align="center">
                         <h3 class="panel-title">Novedades</h3>
                    </div>
                </span>
            </div>
            <div class="navbar-collapse collapse" id="novedades-prof">
                <div class="visible-lg visible-md visible-sm panel-heading" align="center">
                         <h3 class="panel-title">Novedades</h3>
                </div>
                <ul class="nav nav-pills nav-stacked">
                   <li  class="{% if 'listar-novedades' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'listar-novedades' %}">Mis Novedades</a></li>

                   <li  class="{% if 'novedades_profesores' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'novedades_profesores' %}">Ver Novedades</a></li>
                </ul> 
            </div>
        </div>
    </div>

    <!--Menu de Deportes -->
    <div class=" sidebar-nav menu">
          <div class="navbar navbar-default menu" role="navigation">
            <div class="navbar-header menu">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#deportes-prof">
                    <span class="sr-only">Desplegar/ocultar menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-header menu">
                    <div class="visible-xs panel-heading" align="center">
                         <h3 class="panel-title">Deportes</h3>
                    </div>
                </span>
            </div>
            <div class="navbar-collapse collapse" id="deportes-prof">
                <div class="visible-lg visible-md visible-sm panel-heading" align="center">
                         <h3 class="panel-title">Deportes</h3>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if 'ver_deportes_personas' == request.resolver_match.view_name %}active{% endif %}">
                    <a href="{% url 'ver_deportes_personas' %}">Mis Deportes</a></li>
                    <li class="{% if 'ver-deportes' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'ver-deportes' %}">Participantes</a></li>
                    <li class="{% if 'listar_parafichaMedica' == request.resolver_match.view_name %}active{% endif %}">
                    <a href="{% url 'listar_parafichaMedica' %}">Ficha Médica</a></li>
                </ul> 
            </div>
        </div>
    </div>
  
{% endblock %}



          
        
