{% extends "base2.html" %}

    {%block inicio %}
        <li class="{% if 'inicial_alumnos' == request.resolver_match.view_name %}active{% endif %}">
            <a href="{% url 'inicial_alumnos' %}">Inicio</a></li>
    {% endblock %}

    {% block menu %}
    <!--Menu de perfil -->  
      <div class=" sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-alum">
                    <span class="sr-only">Desplegar/ocultar menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-header">
                    <div class="visible-xs panel-heading" align="center">
                         <h3 class="panel-title">Mi perfil</h3>
                    </div>
                </span>
            </div>
            <div class="navbar-collapse collapse" id="navegacion-alum">
                <div class="visible-lg visible-md visible-sm panel-heading" align="center">
                         <h3 class="panel-title">Mi perfil</h3>
                </div>
                <ul class="nav nav-pills nav-stacked" >
                    <li class="{% if 'modificar_perfil_alumno' == request.resolver_match.view_name %}active{% endif %}">
                    <a href="{% url 'modificar_perfil_alumno' %}#contenido">Ver perfil</a></li>
                    <li class="{% if 'ver_contacto_urgencia' == request.resolver_match.view_name %}active{% endif %}">
                    <a href="{% url 'ver_contacto_urgencia' %}#contenido">Contactos de Urgencia</a></li>
                    <li class="{% if 'ver_datos_medicos' == request.resolver_match.view_name %}active{% endif %}">
                    <a href="{% url 'ver_datos_medicos' %}#contenido">Datos Medicos</a></li>
                </ul>  
            </div>
        </div>
    </div>
  
    <!--Menu de Novedades -->
    <div class=" sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-alum">
                    <span class="sr-only">Desplegar/ocultar menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-header">
                    <div class="visible-xs panel-heading" align="center">
                         <h3 class="panel-title">Novedades</h3>
                    </div>
                </span>
            </div>
            <div class="navbar-collapse collapse" id="navegacion-alum">
                <div class=" visible-lg visible-md visible-sm  panel-heading" align="center">
                         <h3 class="panel-title">Novedades</h3>
                </div>
                <ul class="nav nav-pills nav-stacked">
                   <li class="{% if 'novedades_alumnos' == request.resolver_match.view_name %}active{% endif %}">
                        <a href="{% url 'novedades_alumnos' %}#contenido">Novedades</a></li>
                </ul> 
            </div>
        </div>
    </div>     
            
     <!--Menu de deportes -->
     <div class=" sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-alum">
                    <span class="sr-only">Desplegar/ocultar menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-header">
                    <div class="visible-xs panel-heading" align="center">
                         <h3 class="panel-title">Deportes</h3>
                    </div>
                </span>
            </div>
            <div class="navbar-collapse collapse" id="navegacion-alum">
                <div class=" visible-lg visible-md visible-sm  panel-heading" align="center">
                         <h3 class="panel-title">Deportes</h3>
                </div>
                <ul class="nav nav-pills nav-stacked" >
                    <li class="{% if 'ver_deportes_personas' ==  request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'ver_deportes_personas' %}#contenido">Mis Deportes</a></li>
                    <li class="{% if 'inscribir_deportes' ==  request.resolver_match.view_name %}active{% endif %}">
                        <a href="{% url 'inscribir_deportes' %}#contenido">Ver mas Deporte</a></li>
                </ul>  
            </div>
        </div>
    </div>     
   
    {% endblock %}

