{% extends "base.html" %}

{% block menu_izq %}
        <div class=" sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                    <span class="visible-xs navbar-header">
                        <div class="panel-heading" align="center">
                             <h3 class="panel-title">Navegación</h3>
                        </div>
                    </span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                  <ul class="nav nav-pills nav-stacked">
             
                         {% block inicio %}
                         {% endblock %}
                   </ul>
                </div> 
                </div>
            </div>
        </br>
        <div >
            {% block menu %}
                {%if not user.is_authenticated %}
                 {% include "login.html" %}  
                {% endif %}
            {% endblock %}
           

        </div>
  
{% endblock %} 
{% block contenido %}
{% endblock %}