{% load staticfiles %}
<!DOCTYPE html>
    <html lang="es">
        <head>
            <title>SysSport-UTN-Facultad Regional Resistencia</title>
            <link rel="shortcut icon" href="">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0"> 
            <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %} "> 
            <link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %} ">
            <link rel="stylesheet" type="text/css" href="{% static "css/novedades.css" %} ">
            <link rel="stylesheet" type="text/css" href="{% static "css/deporte.css" %} ">
            <link rel="stylesheet" type="text/css" href="{% static "css/formularios.css" %} ">
        </head>
        <body>
          <div id= "global">
            
        <!--MENU DE ARRIBA CON Registrarse e Ingresar-->
            <header>
                <nav role="navigation" class=" navbar navbar-default">
                  	<div class="container-fluid">
                  		<div class="navbar-header">
                  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-dep">
                  				<span class="sr-only">Desplegar/ocultar menu</span>
                  				<span class="icon-bar"></span>
                  				<span class="icon-bar"></span>
                  				<span class="icon-bar"></span>
                  			</button>
                        <span class="navbar-header menu">
                          <div class="visible-xs " align="center">
                            <p class="panel-title" id="hola_usuario">Hola, <b>{{ user.username }} </b></p>
                          </div>
                      </span>
                  			
                  		</div>
                  		
                  		<div class="collapse navbar-collapse" id="navegacion-dep">
                                              
                  			<ul class="nav navbar-nav navbar-right">
                  				{% if user.is_authenticated %}
                            <li><p class="panel-title visible-lg visible-md visible-sm " align="center" id="hola_usuario">Hola, <b>{{ user.username }} </b></p></li>
                            <li><a href="{% url 'url_logout'%}" class="navbar-link"><span>Salir</span></a></li> 
	                    		{% else %}
                              <li><a href="registrarse" class="navbar-link" ><span></span> Registrarse</a></li>
                              <li><a href="{% url 'url_logout'%}#login" class="navbar-link"><span></span> Ingresar</a></li>
                          {% endif %}
                  			</ul>
                  		</div>
                  	</div>
                </nav>
            </header> 
            <!--Fin MENU ARRIBA-->      
                  
           <!-- JUMBOTRON -->
            <section class="jumbotron">
            	<div class="container-fluid cabecera">
            		<div id="logoSAU-Sysport" class="col-md-2">
            		</div>
                    <!--<div id="mural-cabecera" class="col-md-9" >
                    	<img class="img-responsive" src="{% static "img/mural.png" %}">
                    </div> -->
            	</div>
            </section>
            <!--fin JUMBOTRON-->
            <!--CONTENIDO PRINCIPAL-->
            <section class="main container-fluid">
            	
    				    <aside class="region-izquierda ">
        					{% block menu_izq %}
        					{% endblock %}

    				    </aside>
        				<section class="region-principal" id="contenido">
        					{% block contenido %}
            				{% endblock %}  
        				</section>
				      
            </section>
	        <!-- fin CONTENIDO PRINCIPAL -->
            <!-- FOOTER -->
            <footer class="footer-distributed">
                <div class="footer-left">
                    <h2 id="utn-footer">UTN-FRRE <span><small>Área de Deportes</small></span></h2>
                    <p class="footer-company-name">Derechos reservados @<b>2017</b> UTN-FRRE</p>

                </div>
                <div class="footer-right">
                    <a href="http://www.facebook.com/saufrre" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32  /></a>

                </div>
	        </footer> 
	        <!--fin FOOTER -->
	       <script src="{% static "bootstrap/js/jquery.js" %}"></script>
	       <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
           </div>
        </body>
    </html>
                    


           
            