{% extends "base2.html" %}
{% block inicio %}
         <li class="{% if 'inicial_profesores' == request.resolver_match.view_name %}active{% endif %}">
        <a href="{% url 'inicial_profesores' %}">Inicio</a></li>
       
{% endblock %}

{% block menu%}

	<div class="panel panel-primary">
        <div class="panel-heading">
             <h3 class="panel-title">Administración</h3>
        </div>
        <div class="panel-body">
        	<ul class="nav nav-pills nav-stacked">
                <li class="{% if 'ver_deportes_personas' == request.resolver_match.view_name %}active{% endif %}">
                <a href="{% url 'ver_deportes_personas' %}">Mis Deportes</a></li>
                <li  class="{% if 'listar-novedades' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'listar-novedades' %}">Novedades</a></li>
                <li class="{% if 'ver-deportes' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'ver-deportes' %}">Participantes</a></li>
            </ul>
        </div>
    </div>
{% endblock %}



          
        
