{% load staticfiles %}
<!DOCTYPE html>
    <html lang="es">
        <head>
            <title>SysSport-UTN-Facultad Regional Resistencia</title>
            <!--<link rel="icon" type="image/png" href="{% static "img/favicon.png" %} " >-->
            <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %} ">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0"> 
            <link href="{% static "tinymce/tinymce/js/tinymce/skins/lightgray/content.min.css" %}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %} ">
            <link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %} ">
            <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %} ">
            <link rel="stylesheet" type="text/css" href="{% static "css/novedades.css" %} ">
            <link rel="stylesheet" type="text/css" href="{% static "css/deporte.css" %} ">
            <link rel="stylesheet" type="text/css" href="{% static "css/formularios.css" %} ">
            <link rel="stylesheet" type="text/css" href="{% static "css/tablas.css" %} ">
            
            <script src="{% static "js/jquery.js" %}"></script>
            <script src="{% static "js/bootstrap.min.js" %}"></script>
            <script src="{% static "tinymce/tinymce/js/tinymce/tinymce.min.js" %}"></script>
            <script type="text/javascript">
                tinymce.init({
                  selector: 'textarea#id_contenido',
                  resize: false,
                  height: 200,
                  language: 'es',
                  menubar: false,
                  convert_urls : false,
                  plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste'
                  ],
                  toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
                  content_css: '//www.tinymce.com/css/codepen.min.css'
                });
                
                $(document).ready(function(){ 
                  $('#eliminar').on('click',function(){
                   $('#eliminar-msj').slideToggle('slow');
                  });
                });
            </script>
          
        </head>
        <body>
        <!--MENU DE ARRIBA CON Registrarse e Ingresar-->
            <header>
                <nav role="navigation" class=" navbar navbar-default">
                  	<div class="container-fluid">
                  		<div class="navbar-header">
                  			<button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navegacion-dep">
                  				<span class="sr-only">Desplegar/ocultar menu</span>
                  				<span class="icon-bar"></span>
                  				<span class="icon-bar"></span>
                  				<span class="icon-bar"></span>
                  			</button>
                        <span class="visible-xs navbar-header menu">
                          <div align="center">
                            {% if user.is_authenticated or request.session.user %}
                              <p class="panel-title" id="hola_usuario">Hola, <b>{{ user.username }} </b></p>
                            {% endif %}
                          </div>
                        </span>
                  		</div>
                  		<div class="navbar-collapse collapse" id="navegacion-dep">
                  			<ul class="nav navbar-nav navbar-right ">
                  				{% if user.is_authenticated or request.session.user %}
                            <li><p class="panel-title visible-lg visible-md visible-sm " id="hola_usuario">Hola,
                             <b>{% if request.session.user %}{{request.session.nombre}} {% else %} {{user.username}} {% endif %} </b></p></li>
                            <li><a href="{% url 'url_logout'%}" ><span class="glyphicon glyphicon-log-out"></span> Salir</a></li> 
	                    		{% else %}
                              <li><a href="registrarse" ><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
                              <li><a href="{% url 'url_logout'%}#login" class="navbar-link"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
                          {% endif %}
                  			</ul>
                  		</div>
                  	</div>
                </nav>
            </header> 
            <!--Fin MENU ARRIBA-->      
           <!-- JUMBOTRON -->
            <section class="jumbotron">
            	<div class="container-fluid cabecera">
            	</div>	
            </section>
            <!--fin JUMBOTRON-->
            <!--CONTENIDO PRINCIPAL-->
            <section class="main container-fluid">
   				    <aside class="region-izquierda ">
       					{% block menu_izq %}
       					{% endblock %}
   				    </aside>
       				<section class="region-principal" id="contenido">
       					{% block contenido %}
         				{% endblock %}  
       				</section>
            </section>
	        <!-- fin CONTENIDO PRINCIPAL -->
          <!-- FOOTER -->
          <footer class="footer-distributed">
            <div class="footer-left">
              <h2 id="utn-footer">UTN-FRRE <span><small>Área de Deportes</small></span></h2>
              <p class="footer-company-name">Derechos reservados @<b>2017</b> UTN-FRRE</p>
            </div>
            <div class="footer-right">
              <a href="http://www.facebook.com/saufrre" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32  /></a>
            </div>
	        </footer> 
	        <!--fin FOOTER -->
          
        </body>
    </html>
                    


           
            