{% extends "base2.html" %}
    

    


    {% block menu %}
    <!--Menu de perfil -->

        <div class="panel panel-primary">
        <div class="panel-heading">
             <h3 class="panel-title">Perfil</h3>
        </div>
        <div class="panel-body">
             <ul class="nav nav-pills nav-stacked">
                <li class="{% if 'modificar_perfil_alumno' == request.resolver_match.view_name %}active{% endif %}">
                 <a href="{% url 'modificar_perfil_alumno' %}"> Ver perfil</a></li>
                <li class="#">Modificar Perfil</a></li>
                
            </ul> 
        </div>
    </div>

    
    <!--Menu de Novedades -->
        <div class="panel panel-primary">
        <div class="panel-heading">
             <h3 class="panel-title">Novedades</h3>
        </div>
        <div class="panel-body">
             <ul class="nav nav-pills nav-stacked">
               <li class="{% if 'novedades_alumnos' == request.resolver_match.view_name %}active{% endif %}">
                <a href="{% url 'novedades_alumnos' %}">Mis Novedades</a></li>
                 <li class="{% if 'ver_novedades_visibilidadTodos' == request.resolver_match.view_name %}active{% endif %}">
            <a href="{% url 'ver_novedades_visibilidadTodos' %}">Novedades Generales</a></li>              
                
            </ul> 
        </div>
    </div>
     <!--Menu de deportes -->
             <div class="panel panel-primary">
        <div class="panel-heading">
             <h3 class="panel-title">Deportes</h3>
        </div>
        <div class="panel-body">
             <ul class="nav nav-pills nav-stacked">
               <li class="{% if 'ver_deportes_personas' ==  request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'ver_deportes_personas' %}">Mis Deportes</a></li>
               <li class="{% if 'inscribir_deportes' ==  request.resolver_match.view_name %}active{% endif %}">
                <a href="{% url 'inscribir_deportes' %}">Inscribirme a mas Deportes!</a></li>
             
                
            </ul> 
        </div>
    </div>

    {% endblock %}

