{% extends "base.html" %}

{% block principal %}

    <div class="page-content col-md-3 hidden-sm">
        
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <h3 class="panel-title">Navegación</h3>
            </div>
             <ul class="nav nav-pills nav-stacked">

                {% block inicio %}
                {% endblock %}
                
               </ul>
        </div>

        {% block menu %}
        {% endblock %}
    </div>
    <div class="page-content col-md-7 col-sm-10">
        {% block contenido %}
        {% endblock %}
    </div>    


{% endblock %}
