
{% if field.errors %}
    {% for error in field.errors %}
        <div class="form-group has-error has-feedback">
            {{field.label_tag}}</br>
            <strong class="text-danger">*{{error|escape}}</strong></br>
            {{field}}</br>
        </div>  
    {% endfor %}        
    <!--{% for error in form.non_field_errors %}
        <div class=" form-group has-error has-feedback">
            <strong class="text-danger">*{{error|escape}}</strong></br>
            </br>
        </div>  
    {% endfor %} -->   
{% endif %}

