{% extends "usuario_noLogueado.html" %}
{% block menu %}
	{% if not user.is_authenticated %}
		{% include "login.html" %}
		
	{% endif %}
	{% if user.is_staff %}
		{% include "menuAdmin.html" %}
	{% endif %}
{% endblock %}
{% block contenido %}

	<div class="page-header panel-default">
			<h1><i>UTN - FRRe - Área de Deportes </i></h1>
	</div>
	<div class="page-content">	
		<p><i>Sys-Sport fue desarrollado para toda la comunidad deportiva de la UTN Facultad Regional Resistencia con el objetivo de comunicar, organizar eventos y actividades deportivas. </i></p>
		<div class="img-responsive">{% include "slider-inicial/slider-inicial.html" %}</div></br>
	
		<div class="text-gray-dark">
			<h4>¿Cómo acceder a SysSport?</h4>
			<p>Si sos alumno de la UTN Facultad Regional Resistencia:</p>
			<ul>
				<li><span class="glyphicon glyphicon-ok"></span><p2> Ingresa con tu usuario y contraseña del Sysacad</p2></li>
			</ul>
			<p>Si no sos alumno: </p>
			<ul>
				<li><span class="glyphicon glyphicon-ok"></span><p2> Debes registrarte <a class="info" href="#">aqui</a></p2></li>
			</ul>
		</div>	
	</div>
	
{% endblock %}