{% extends "usuario_noLogueado.html" %}
{% block menu %}
	{%if not user.is_authenticated %}
		{% include "login.html" %}  
	{% endif %}
{% endblock %}
{% block contenido %}

	<div class="page-header">
			<h1><b><i>¡Bienvenidos!</i></b></h1>
	</div>
	<div class="page-content">	
		{% include "slider-inicial/slider-inicial.html" %}

		<p1><i>Sys-Sport esta desarrollado para acercar a alumnos y profesores, logrando la mayor interaccion entre ellos. Sys-Sport es super comodo, rapido y seguro, vas a poder enterarte de todas las noticia, los eventos nuevos y cuando son tus horarios de entrenamiento...!!!!</i></p1>
		<div class="text-gray-dark">
			<h4>Accede a todos los beneficios de SysSport</h4>
			<h4>Si sos alumno de la UTN-FRRE:</h4>
			<li><p2>Ingresa con tu usuario y contraseña del Sysacad</p2></li>
			<h4>Si no sos alumno de la UTN-FRRE:</h4>
			<li><p2>1. Selecciona <b>Registrarse</b></p2></li>
			<li><p2>2. Completa el formulario de resgistro</p2></li>
		</div>
	</div>
	
{% endblock %}