
<div id="login" class="panel panel-primary" >
	<div class="panel-heading login">
		 <h3 class="panel-title login">Iniciar Sesion</h3>
	</div>
	<div class="panel-body login">
		
			<form id="login-form" action="{% url 'url_login' %}" class="navbar-form" role="form" method="POST" accept-charset="utf-8">
			{% csrf_token %} 
			<div class="form-group">
				{{form1.username}}
			</div>
			<div class="form-group">
				{{form1.password}}
			</div>
			<div class="form-group col-lg-10">
				    <label>
				          <input  type="checkbox"> No cerrar sesión
				    </label>
				</div>
				<div class="col-lg-offset-1 col-lg-10">   
				    <button type="submit" class=" btn btn-primary" value="Login">Ingresar</button>
				</div>
		
			<label>{{mensaje}}</label>
		</form> 
		

	</div>
	<div class="panel-footer login">
  			<a href="{% url 'ver_tipo_usuario' %}">Olvidaste tu contraseña?</a><br/>
			<a href="registrarse">Desea registrarse?</a><br/>
	</div>
</div>	
	