
<div id="login" class="panel panel-primary" >
	<div class="panel-heading login">
		 <h3 class="panel-title login">Iniciar Sesión</h3>
	</div>
	<div class="panel-body login">
		
			<form id="login-form" action="{% url 'url_login' %}" class="navbar-form" role="form" method="POST" accept-charset="utf-8">{% csrf_token %} 	
				{{form1.username}}
				{{form1.password}}
			<!--<div class="form-group col-lg-10">
			    <label>
			          <input  type="checkbox"> No cerrar sesión
			    </label>
			</div>-->
				<div class="col-lg-offset-1 col-lg-10">   
				    <br><button type="submit" class=" btn btn-primary" name="btn_ingresar" value="Login">Ingresar</button>
				</div>
			</form>
	</div>
	{% if mensaje  %}
		<div class=" form-group has-error has-feedback">
			<span class="glyphicon glyphicon-remove text-danger"></span> 
			<strong id="text_error" class="text-danger">{{mensaje}}</strong>
		</div>	
	{% endif %}
	
	<div class="panel-footer login">
  			<a href="{% url 'ver_tipo_usuario' %}">Olvidaste tu contraseña?</a><br/>
			<a href="registrarse">Desea registrarse?</a><br/>
	</div>

	
