<div class=" sidebar-nav menu">
        <div class="navbar navbar-default menu" role="navigation">
            <div class="navbar-header menu">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adm-usuarios">
                    <span class="sr-only">Desplegar/ocultar menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-header menu">
                    <div class="visible-xs panel-heading" align="center">
                         <h3 class="panel-title">Administración</h3>
                    </div>
                </span>
            </div>

            <div class="navbar-collapse collapse" id="adm-usuarios">
                <div class="visible-lg visible-md visible-sm  panel-heading" align="center">
                         <h3 class="panel-title">Administración</h3>
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if 'ver_novedades_admin' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'ver_novedades_admin' %}#contenido">Novedades</a></li>
                    <li class="{% if 'listar-canchas' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'listar-canchas' %}#contenido">Canchas</a></li>
                    <li class="{% if 'listar-deporte' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'listar-deporte' %}#contenido">Deportes</a></li>
                    <li class="{% if 'listar_profes' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'listar_profes' %}#contenido">Profesores</a></li>
                    <li ><a href="#">Alumnos Invitados</a></li>
                </ul>
            </div> 
        </div>
    </div>

    <!--
        <div class="navbar navbar-default menu" role="navigation">
            <div class="navbar-header menu">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adm-canchas">
                    <span class="sr-only">Desplegar/ocultar menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-header menu">
                    <div class="visible-xs panel-heading" align="center">
                         <h3 class="panel-title">Administración de Canchas</h3>
                    </div>
                </span>
            </div>

            <div class="navbar-collapse collapse" id="adm-canchas">
                <div class="visible-lg visible-md visible-sm  panel-heading" align="center">
                         <h3 class="panel-title">Administración de Canchas</h3>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if 'listar-canchas' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'listar-canchas' %}#contenido">Canchas</a></li>
                </ul>
            </div> 
        </div>
    </div> -->



    <!--Menu de Deportes --> 
   <!-- <div class=" sidebar-nav menu">
        <div class="navbar navbar-default menu" role="navigation">
            <div class="navbar-header menu">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adm-deportes">
                    <span class="sr-only">Desplegar/ocultar menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-header menu">
                    <div class="visible-xs panel-heading" align="center">
                         <h3 class="panel-title">Administración de Deportes</h3>
                    </div>
                </span>
            </div>

            <div class="navbar-collapse collapse" id="adm-deportes">
                <div class="visible-lg visible-md visible-sm  panel-heading" align="center">
                         <h3 class="panel-title">Administración de Deportes</h3>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if 'listar-deporte' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'listar-deporte' %}#contenido">Deportes</a></li>
                </ul>
            </div>         
            </div>
    </div> -->

    <!--Menu de Novedades --> 
   <!-- <div class=" sidebar-nav menu">
        <div class="navbar navbar-default menu" role="navigation">
            <div class="navbar-header menu">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#adm-novedades">
                    <span class="sr-only">Desplegar/ocultar menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-header menu">
                    <div class="visible-xs panel-heading" align="center">
                         <h3 class="panel-title">Administración de Novedades</h3>
                    </div>
                </span>
            </div>

            <div class="navbar-collapse collapse" id="adm-novedades">
                <div class="visible-lg visible-md visible-sm  panel-heading" align="center">
                         <h3 class="panel-title">Administración de Novedades</h3>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="{% if 'ver_novedades_admin' == request.resolver_match.view_name %}active{% endif %}"><a href="{% url 'ver_novedades_admin' %}#contenido">Novedades</a></li>
                </ul>
            </div> 
        </div>
    </div> -->