{% extends "base2.html" %}

{% block inicio %}

  		<li class="{% if 'url_login' == request.resolver_match.view_name %}active{% endif %}">
    	<a href="{% url 'url_login' %}">Inicio</a></li>
    	<li class="{% if 'listar_deportes' == request.resolver_match.view_name %}active{% endif %}">
    		<a href="{% url 'listar_deportes' %}">Deportes</a></li>
    	<li class="{% if 'ver_novedades_visibilidadTodos' == request.resolver_match.view_name %}active{% endif %}">
    		<a href="{% url 'ver_novedades_visibilidadTodos' %}">Novedades</a></li>

{% endblock %}



