{% extends "baseAdmin.html" %}

{% block contenido %}
<div class="panel-info">
	<div class="page-header panel-default">
		<h1><i>Deportes</i></h1>
	</div>


	<div class="page-content">
		<form class="form-horizontal">{% csrf_token %}
			<ul class="nav nav-pills navbar-right">
			 	<li><a href="{% url 'crear-deporte' %}"><span class="glyphicon glyphicon-plus"></span> </span>Nuevo Deporte</a></li>
			 </ul>
		 </form>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Genero</th>
				</tr>
			</thead>

			{% for deporte in deportes %}
			<tbody>
				<tr>
					<td> <a href="">{{deporte.nombre}}</a> </td>
					<td> <a href="">{{deporte.descripcion}}</a> </td>
					<td> <a href="">{{deporte.ver_aptopara}}</a> </td>
					<td> <a href="{% url 'modificar_deporte' deporte.id %}">Modificar</a></td>
					<td><a href="{% url 'eliminar_deporte' deporte.id %}">Eliminar</a></td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
		
	</div>
</div>
{% endblock %}




