{% extends "baseAdmin.html" %}
{% block contenido %}
	<div class="well ">
		<div class="panel-info">
			<h2><i>Modificar Deporte </b> </h2>
					
			<form role="form" method="POST" accept-charset="utf-8">{% csrf_token %}
				<div class="panel" > 
					<div class=" panel-default">
						<div class="panel-heading">
							<h4>Información del Deporte:</h4>
						</div>
						<div class="panel">
							{% for field in form_deporte %}	   		
								{% if not field.label = 'Entrenamientos' %}
									<p>{{field.label}}</p>
									<p>{{field}} </p>
								{% endif %}	
							{% endfor %}									
						</div>		
					</div>

				 <!--  <div class=" panel-default">
						<div class="panel-heading">
							<h4>Informacion de Entrenamiento:</h4>
						</div>
						<div class="panel">
							{% for field2 in form_entrenamiento %}	   		
									<p>{{field2.label}}</p>
									<p>{{field2}} </p>
							{% endfor %}									
						</div>		
					</div>	-->							
				</div>
				<button class="btn btn-primary" type='submit' value='Aceptar' name= 'bModificar'> Aceptar</button>
				<button class="btn btn-primary" type="button" value="Cancelar" onclick="history.back(-1)" />Cancelar</button>
			</form>
			
		</div>
	</div>
{% endblock %}



