{% extends "baseAdmin.html" %}
{% block contenido %}
	<div class="well ">
        <div class="panel-heading panel-primary">
            <h2><i>Deporte {{deporte.nombre}}</i> </h2>
        </div>
		<div class="panel-primary panel-body" >
			<form action='' method='POST'>
				{% for field in form %}
			 	<div >    		
				{% csrf_token %}
				<p>{{field.label}}</p>
				<p>{{field}} </p>	

				</div>
			{% endfor %}
				
			</form>
			<input type='submit' value='Confirmar'>
			<input type='submit' value='Cancelar'>
		</div>
	</div>
	
{% endblock %}



