<!-- BUSCADOR -->
 	
		<form method="GET">{% csrf_token %}
			
    		<input type="text" name="q" value="{{query|escape }}" placeholder="Escribir usuario">
    		<button class="btn btn-primary" type="submit" name="btn_buscar" value="Buscar"><span class="glyphicon glyphicon-search"> </span> Buscar</button>
    		<div class="radio">
	    		<label class="radio-inline"><input type="radio" name="opcion" value="legajo">Legajo</label>
	  			<label class="radio-inline"><input type="radio" name="opcion" value="carrera">Carrera</label>
	  			<label class="radio-inline"><input type="radio" name="opcion" value="apellido">Apellido</label> 
  			</div>
		</form>
	
	<div class="form-group">
	 	<p>{{mensaje}}</p>
	 </div>
<!-- FIN BUSCADOR -->