{% extends "base2.html" %}
{% block inicio %}
   <li class="{% if 'inicial_alumnos' == request.resolver_match.view_name %}active{% endif %}">
    <a href="{% url 'inicial_alumnos' %}">Inicio</a></li>
{% endblock %}

{% block menu %}
	{% include "baseAlumno.html" %}
{%endblock %}
{% block contenido %}
	<div class="panel-heading" align="center">
		<p>¿Está seguro que desea cambiar su contraseña <b>{{user.username}}</b>?</p>
	</div>
	<div class="panel-body" align="center" >
		<form action='' method='POST'>
			{% csrf_token %}
			
			<input type='submit' value='Si'>
		</form>
	</div>
	<a href="modificar_perfil_alumno">Volver</a>
	
{% endblock %}




