{% extends extiende %}

{% block contenido %}
<script>window.jQuery || document.write('<script src="{% static "js/jquery.min.js" type="text/javascript"}""><\/script>')</script>
	<script>
	    $(document).ready(function(){ 
	      $('#ver-info-perfil').on('click',function(){
	       $('#info-perfil').slideToggle('slow');
	      });
	    });
	</script>
<div class="panel-info">

	<div class="page-header panel-default">
		<h1><i>Editar Informacion de Perfil </i></h1>
	</div>

	<div class="page-content">
		<ul class=" nav navbar-right">
			<a title="Info" type="text" type="button"  class="btn" id="ver-info-perfil">
			<span class = "glyphicon glyphicon-info-sign" > </span> </a> 
			
		</ul></br>
		<h4><i>Disculpe las molestias.</i></h4> 
		<p>Usted no cuenta con los permisos para editar su información de perfil.</i></p>
		<div id="info-perfil" class="navbar-text" style="display:none;"><p>Para poder cambiar informacion de su cuenta, y con el objetivo de mantener informacion actualizada en nuestro Sistema Academico le pedimos por favor que se dirija a la oficina de Alumnado en su horario de Atencion de 15 a 21 hs. </p></div>
		
	</div>

	<button class="btn btn-primary" type="button" value="Volver" onclick="history.back(-1)" />Volver</button>
</div>

{% endblock %}
