{% extends "baseAlumno.html" %}
{% block contenido %}
<!-- -->
<div class="well ">
	<div class="panel-heading panel-primary">
		<h2><i>Mi perfil </i><b>{{usuario}}</b> </h2>
	</div>
	<div class="panel-body panel-primary">
		<form class="form-horizontal" method='POST'>{% csrf_token %}
			<!--
			<div class="form-group">
				<label class="col-sm-2 control-label">Nueva Contraseña:</label>
				<div class="col-sm-4">
					<span class="input-group-addon"><span class="glyphicon glyphicon-lock"> </ span> </span>
					<input type="password">
					<input type='submit' class="btn btn-default" name="btn-cambiar-pass" value='Editar'>
				</div>
			</div>
			-->
			<div class="form-group">
				<label class="col-sm-2 control-label">Nombre: </label>
				<label class="col-sm-2 control-label">{{nombre}}</label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Apellido: </label>
				<label class="col-sm-2 control-label">{{apellido}}</label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">DNI: </label>
				<label class="col-sm-2 control-label"> {{dni}}</label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Legajo: </label>
				<label class="col-sm-2 control-label">{{legajo}}</label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Carrera:  </label>
				<label class="col-sm-2 control-label">{{carrera}}</label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Fecha de Nacimiento: </label>
				<label class="col-sm-2 control-label">{{fecha_nacimiento}}</label>
			</div>
		</form>
		<form class="form-horizontal" method='POST'>{% csrf_token %}
			<div class="form-group">
				<label class="col-sm-2 control-label">Telefono:</label>
				<div class="col-sm-4">
					<span class="input-group-addon"><span class="glyphicon glyphicon-earphone"> </ span> </span>
					<input type="text" value="{{telefono}}" readonly="">
					<!-- <input type='submit' class="btn btn-default" name="btn-cambiar-telefono" value='Editar'> -->
				</div>
				
			</div>
		</form>
		<form class="form-horizontal" method='POST'>{% csrf_token %}
			<div class="form-group">
				<label class="col-sm-2 control-label">Dirección:</label>
				<div class="col-sm-4">
					<span class="input-group-addon"><span class="glyphicon glyphicon-pencil"> </ span> </span>
					<label>{{direccion}}</label>
					<!-- <input type='submit' class="btn btn-default" name="btn-cambiar-direccion" value='Editar'> -->
				</div>
							
			</div>
		</form>	
	</div>
</div>	
{% endblock %}


	

	
