{% extends "base2.html" %}

{% block inicio %}
   <li class="{% if 'inicial_alumnos' == request.resolver_match.view_name %}active{% endif %}">
    <a href="{% url 'inicial_alumnos' %}">Inicio</a></li>
{% endblock %}

{% block menu %}
	{% include "baseAlumno.html" %}
{% endblock %}
{% block contenido %}

<div class="well ">
	<div class="panel-heading panel-primary">
		<h2><i>Mi perfil </i><b>{{usuario}}</b> </h2>
	</div>
	<div class="panel-body panel-primary">
		<form class="form-horizontal" method='POST'>{% csrf_token %}
			<div class="form-group">
				<label class="col-sm-2 control-label">Nueva Contraseña:</label>
				<div class="col-sm-4">
					<span class="input-group-addon"><span class="glyphicon glyphicon-lock"> </ span> </span>
					<input type="password">
					<input type='submit' class="btn btn-default" name="btn-cambiar-pass" value='Editar'>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Nombre: </label>
				<label class="col-sm-2 control-label">{{nombre}}</label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Apellido: </label>
				<label class="col-sm-2 control-label">{{apellido}}</label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">DNI: </label>
				<label class="col-sm-2 control-label"> {{dni}}</label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Legajo: </label>
				<label class="col-sm-2 control-label">{{legajo}}</label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Carrera:  </label>
				<label class="col-sm-2 control-label">{{carrera}}</label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Fecha de Nacimiento: </label>
				<label class="col-sm-2 control-label">{{fecha_nacimiento}}</label>
			</div>
		</form>
		<form class="form-horizontal" method='POST'>{% csrf_token %}
			<div class="form-group">
				<label class="col-sm-2 control-label">Telefono:</label>
				<div class="col-sm-4">
				<span class="input-group-addon"><span class="glyphicon glyphicon-earphone"> </ span> </span>
					<input type="text" value="{{telefono}}">
					<input type='submit' class="btn btn-default" name="btn-cambiar-telefono" value='Editar'>
				</div>
				
			</div>
		</form>
		<form class="form-horizontal" method='POST'>{% csrf_token %}
			<div class="form-group">
				<label class="col-sm-2 control-label">Dirección:</label>
				<label class="col-sm-2 control-label">{{direccion}}</label>
				<div class="col-sm-4">
					<span class="input-group-addon"><span class="glyphicon glyphicon-pencil"> </ span> </span>
					<input type='submit' class="btn btn-default" name="btn-cambiar-direccion" value='Editar'>
				</div>
							
			</div>
		</form>	
	</div>
</div>	
{% endblock %}


	

	
