{% extends "base2.html" %}
{% block inicio %}
   <li class="{% if '#' == request.resolver_match.view_name %}active{% endif %}">
    <a href="#">Inicio</a></li>
{% endblock %}

{% block contenido %}
    
    <div class="well ">
        <div class="panel-heading panel-primary">
            <h2><i>Registración</i> </h2>
        </div>
        <div class="panel-primary panel-body">
            <form class="form-horizontal" method="GET">
            
                <div class="form-group">
                    <label class="col-sm-3 control-label">N° Legajo: </label>
                    <div class="col-sm-2">
                        <input type="text" placeholder="Ingrese legajo">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email: </label>
                    <div class="col-sm-4">
                        <input type="text" placeholder="micorreo@email.com">
                    </div>
                </div>
                <div class="form-group">
                	<label class="col-sm-3 control-label">Deporte: </label>
                	<div class="col-sm-4">
                        <select>
                             <option>Voley</option>
                             <option>Futbol Femenino</option>
                             <option>Futbol Masculino</option>
                             <option>Basquet</option>
                             <option>Padel</option>
                        </select>
                    </div>     
                </div>
                <div class="form-group">
                	<label  class="col-sm-3 control-label">Subir certificado </label>
                	<input type="file" class="form-control-file" id="inputArchivo">               	
                </div>
                <div class="col-lg-offset-3 col-lg-10">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>              
    </div>
{% endblock %}
