{% extends "base2.html" %}


{% block contenido %}
    <div class="panel-info">
        <div class="page-header panel-default">
            <h1><i>Registro</i> </h1> 
           
        </div>
        <div class="page-content">
        	<div class="panel-title">
        		 <p>Para registrarte debes ingresar con tu usuario y contraseña del Sysacad</p>
        	</div>
            <table class="registro">
            {% include 'mensaje.html' %}
            	<form role="form" class="navbar-form" method="POST" accept-charset="utf-8">{% csrf_token %}
            	
	                <tr class="form-horizontal">
	                    <td><label class="control-label">Legajo </label></td>
	                    <td>{{form.legajo}}</td>
	                </tr>
	                <tr class="form-horizontal">
	                  	<td><label class="control-label">Contraseña </label></td>
	                  	<td>{{form.password}}</td>
	                </tr>
	                <tr class="form-group">
	                    <td><label class="control-label">Inscribirse a: </label></td>
	                    <td>{{form.lista_deporte}}</td>
	                </tr>
	                <tr class="form-horizontal navbar">
	                    <td><button type="submit" class="btn btn-primary" name="boton_enviar" value="enviar">Enviar</button>  </td>
	                </tr>
	             

               	</form>
            </table>
        </div>
    </div>
{% endblock %}
