{% extends extiende %}

{% block contenido %}

<div class="panel-info">
	
	<div class="page-header panel-default">
		<h1><i><button class="btn btn-default" type="button" onclick="history.back(-1)" /><span class="glyphicon glyphicon-arrow-left"></span></button> Perfil </i>
		
		</h1>
	</div>
	<div class="page-content">
		<table class="table" id="perfil-tabla">
			<thead>
				<tr id="perfil-fila">
					<th><img src="{{persona.foto_perfil.url}}" class="img-circle perfil" ></th>
					<th><h3><i>{{persona.get_full_name}}</i></h3></th>
				</tr>
			</thead>
			<tbody>
				<tr class="form-group">
					<td><label class="control-label">Nombre:  </label></td>
					<td><p> {{persona.first_name}} </p></td>
				</tr>
				<tr class="form-group">
					<td><label class=" control-label">Apellido:  </label></td>
					<td><p> {{persona.last_name}} </p></td>
				</tr>
				<tr class="form-group">
					<td><label class=" control-label">Sexo:  </label></td>
					<td><p>{{persona.ver_sexo}}</p></td>
				</tr>

				{% if is_invitado %}
					<tr class="form-group">
						<td><label class=" control-label">Institución:  </label></td>
						<td><p>{{institucion}}</p></td>
					</tr>
					<tr class="form-group">
						<td><label class=" control-label">Deportes Inscriptos:  </label></td>
						<td><p>{{persona.ver_lista_deporte}}</p></td>	
					</tr>
				{% endif %}
				{% if is_profesor %}
					<tr class="form-group">
						<td><label class=" control-label">Profesor de:  </label></td>
						<td><p>{{persona.ver_lista_deporte}}</p></td>
					</tr>
				{% endif %}

				{% if is_alumno %}
					<tr class="form-group">
						<td><label class=" control-label">Carrera:  </label></td>
						<td><p>{{carrera}}</p></td>
					</tr>
					<tr class="form-group">
						<td><label class=" control-label">Deportes Inscriptos:  </label></td>
						<td><p>{{persona.ver_lista_deporte}}</p></td>
					</tr>
				{% endif %}

				<tr class="form-group">
					<td><label class=" control-label">Fecha de Nacimiento:  </label></td>
					<td><p>{{persona.fecha_nacimiento}}</p></td>
				</tr>
				<tr class="form-group">
					<td><label class=" control-label">Email:  </label></td>
					<td><p>{% if persona.email %}{{persona.email}}{% else %}-{% endif %}</p></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


{% endblock %}
