{% load staticfiles %}
<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1"> <!-con esto garantizamos que se vea bien en dispositivos moviles->
            <title>SysSport - Proyecto 2016</title>
            <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %} "> <!-llamamos al archivo CSS->
            <link rel="stylesheet" href="{% static "css/estilos.css" %} ">
        </head>
        <body>
            <header>            
                <div class="container">
                   <div class="jumbotron-fluid">
                        <a  href="bienvenida">
                            <img src="{% static "img/logoSAU-UTN.png" %}" class="img-responsive" alt>  
                        </a>
                    </div>  
                    <ul class= "nav nav-pills navbar-right navbar-default">
                        <li><a href="registro" class="navbar-link" ><span class="glyphicon glyphicon-pencil"></span> Registrarse</a></li>
                        <li><a href="ingreso" class="navbar-link"><span></span> Ingresar</a></li>
                    </ul> 
                </div>
            </header><!-- /header -->
            <section>
                <div class="container">
                    {% block principal %}
                    {% endblock %}     
                </div>          
            </section>
            <footer class="footer-distributed">
                <div class="footer-left">
                    <h2>UTN-FRRE <span><small>Deportes</small></span></h2>
                    <p class="footer-company-name">2016</p>

                </div>
                <div class="footer-right">
                    <p>2016</p>
                </div>
            </footer>
        </body>
    </html>