

<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1"> <!-con esto garantizamos que se vea bien en dispositivos moviles->
            
            <title>proyecto2016</title>

           
            <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" > <!-llamamos al archivo CSS->    
            <link rel="stylesheet" type="text/css" href="static/estilos.css"> 
                       
        </head>
        <body>
            <div id="principal">
                <div id="cabecera">
                    
                  <div id="logoUTN">
                    <h1>logo</h1>
                  </div>

                </div>
                
                <div id="menuIzq">
                    {% block menu_izquierdo %}
                    {% endblock %}
                </div>
                <div id="contenedor">
                    contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor contenedor
                </div>
                <div class="clear">
                 
                </div>
                <div id="pie">
                    pie
                </div>
            </div>    
            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> <!– Importante llamar antes a jQuery para que funcione bootstrap.min.js -->     

            <script src="js/jquery.js" type="text/javascript" charset="utf-8" async defer>
            </script>
            <script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer>
            </script>
        </body>
    </html>