<!-- BUSCADOR -->
	 	
	<form id="formBusqueda" method="POST">{% csrf_token %}
		<input type="text" name="q" value="{{query|escape }}">
		<button class="btn btn-primary" type="submit" name="btn_buscar" value="Buscar"><span class="glyphicon glyphicon-search"> </span> Buscar</button>
		<div class="radio">
			<label class="radio-inline"><input type="radio" id="check_autor" name="opcion" value="autor" onchange="javascript:showContent()" > Autor</label>
			<label class="radio-inline"><input type="radio" name="opcion" value="titulo" onchange="javascript:showContent()"> Titulo</label>
			<label class="radio-inline"><input type="radio" id="check_fecha" name="opcion" value="fecha" id="fecha" onchange="javascript:showContent()"> Fecha</label>
			<div class="nav" id="div_escondido_autor" style="display: none;">
				<form method="POST">{% csrf_token %}
					Ingrese el parámetro de búsqueda por Autor:</br>
					<label class="radio-inline"><input type="radio" name="opcion_autor" value="nombre" checked> Nombre</label>
					<label class="radio-inline"><input type="radio" name="opcion_autor" value="apellido"> Apellido</label>
				</form>
			</div>
			<div class="nav" id="div_escondido_fecha" style="display: none;">
				Ingrese la fecha con el siguiente formato: DD/MM/AAAA</br>
				<label class="radio-inline"><input  type="checkbox" name="fecha" value="dia" checked> Día</label>
				<label class="radio-inline"><input  type="checkbox" name="fecha" value="mes" checked> Mes</label>
				<label class="radio-inline"><input  type="checkbox" name="fecha" value="anio" checked> Año</label>
			</div>
		</div>   			
	</form>
	<div class="form-group">
	 	<p>{{mensaje}}</p>
	</div>
		
		<!-- FIN BUSCADOR -->