{% extends "base.html" %}

{% block body %}
  
  <form method="get" action="/enviar/">
        Nº de legajo: <input type="text" name="nombre" /><br />
        Dirección: <input type="text" name="direccion" /><br />
        Correo electrónico: <input type="text" name="correo" /><br />
        Teléfono: <input type="text" name="telefono" /><br />
        <input type="submit" name="boton" value="Subir ficha Medica"><input type="text" name="ficha" />
        <input type="submit" name="boton" value="enviar">
  </form>
{% endblock %}