<!--Fromulario algunos campos que puede tener serian los siguientes, despues vemos donde lo ponemos-->

  <form method="get" action="http://aprenderaprogramar.com">
        Nº de legajo: <input type="text" name="nombre" /><br />
        Dirección: <input type="text" name="direccion" /><br />
        Correo electrónico: <input type="text" name="correo" /><br />
        Teléfono: <input type="text" name="telefono" /><br />
        <input type="submit" name="boton" value="Subir ficha Medica"><input type="text" name="ficha" />
   </form>