{% extends "login.html" %}
	
	{% block navegacion %}

	<div class="panel panel-default">
		<div class="panel panel-heading">
			<h3 class="panel-title">Navegación</h3>
		</div>
		<div class="panel panel-body">
			<ul class="nav nav-pills nav-stacked">
	  			<li class="active"><a href="#">Inicio</a></li>
	  			<li><a href="#">Profile</a></li>
	  			<li><a href="#">Novedades</a></li>
	  		</ul>
		</div>
		
	</div>
	{% endblock %}
	{% block contenido %}
		
		<p>Sys-Sporte  esta desarrollado para acercar a alumnos y profesores, logrando la mayor interaccion entre ellos. Sys-Sport es super comodo, rapido y seguro, vas a poder enterarte de todas las noticia, los eventos nuevos y cuando son tus horarios de entrenamiento...!!!!</p><br/>
		<p>Accede a todos los beneficios de SysaSport</p><br/>
		<p>1. Darle click en resgistrarme</p><br/>
		<p>2. Selecciona tu deporte favorito</p><br/>
		<p>3. Y LISTO!!!!! ya podes empezar a disbrutar de SYS-SPORT</p><br/>
	{% endblock %}