{% extends "baseProfesor.html" %}

{% block contenido %}
<div class="page-header">
			<h2><b><i>¡Bienvenidos!</i></b></h2>
	</div>
	<div class="page-content">
		
			<h4>Sys-Sporte  esta desarrollado para acercar a alumnos y profesores, logrando la mayor interaccion entre ellos. Sys-Sport es super comodo, rapido y seguro, vas a poder enterarte de todas las noticia, los eventos nuevos y cuando son tus horarios de entrenamiento...!!!!</h4><br/>
			<h4>Accede a todos los beneficios de SysaSport</h4><br/>
			<p>1. Selecciona <b>Registrarte</b></p><br/>
			<p>2. Completa tu legajo</p><br/>
			<p>3. Y LISTO!!!!! ya podes empezar a disbrutar de SYS-SPORT</p><br/>
	</div>
	
{% endblock %}