{% extends "base2.html" %}

{% block contenido %}
	<div class="page-header">
		<ul class="nav nav-pills">
	  		<li class="active"><a href="#">Novedades <span class="badge">42</span></a></li>
	  		<li><a href="#">Perfil <span class="badge"></span></a></li>
	 		<li><a href="#">Mensajes <span class="badge">3</span></a></li>
		</ul>
	</div>
	<div class="page-content">
		<h1>Hola INVITADO <a href="{% url 'url_logout'%}">Salir</a>
				{% if user.is_authenticated %}
					{{ user.username }} 
					<a href="{% url 'url_logout'%}">Salir</a>
					</br>
					
					<p>Deportes inscriptos</p>
					{% for d in deportes %}
						<li>{{d.nombre}}</li>
						</br>
					{% endfor %}

					<p>Deportes que existen</p>
					{% for s in sport %}
						<li>{{s.nombre}}</li>
						</br>
					{% endfor %}
				{% endif %}
		</h1>
	</div>
	
{% endblock %}