{% extends "baseInvitado.html" %}

{% block login %}
	{% include "perfil.html" %}
{% endblock %}

{% block contenido %}
	<div class="page-header">
		<ul class="nav nav-pills">
	  		<li class="active"><a href="#">Novedades <span class="badge">42</span></a></li>
	  		<li><a href="#">Perfil <span class="badge"></span></a></li>
	 		<li><a href="#">Mensajes <span class="badge">3</span></a></li>
		</ul>
	</div>
	<div class="page-content">
		<a href="{% url 'url_logout'%}">Salir</a> 
		</br>		
		{% if user.is_authenticated %}				
			{% for post in posts %}
				<h2>{{post.titulo}}</h2>
				<p1>{{post.fecha_publicacion}}</p1>
				</br></br>
				<p2>{{post.contenido|safe}}</p2>
				<li><strong><u>Categoria:</u></strong>{{post.obtener_categorias}}</li>
				<hr></hr>
			{% endfor %}
		{% endif %}	
	</div>
	
{% endblock %}