{% extends "usuario_noLogueado.html" %}
	{% block menu %}
		{% if user.is_staff %}
			{% include "menuAdmin.html" %}
		{% endif %}
	{% endblock %}
	{% block contenido %}
	<div class="panel-info">
		<div class="page-header panel-default">
			<h1><i>Novedades</i></h1>
		</div>
		<div class="page-content">
			{% for post in posts %}
				<div class="fondo_mensaje esquinas">
					<div class="titular-comentario contenido-comentario esquinas">
						<table cellpadding="0" cellspacing="2">
							<tr>
								<td class="td_perfil" ><img class="img_perfil" src="{{post.obtener_url_imagen}}" ></td>
								<td class="td_titulo"><b><h3 class="titulo_novedad">{{post.titulo}}</h3></b>
								<p class="fecha">{{post.fecha_publicacion}}</p></td> 
							</tr>
						</table>
					</div>
					<div class="texto_mensaje">
						<p>{{post.contenido|safe}}</p>
						<p>{{post.imagen}}</p>
						<p><strong>Deporte: </strong>Todos</p>
					</div>

				</div>
			{% endfor %}
		</div>
	</div>
	{% endblock %}









