{% extends extiende %}
	{% block contenido %}
		<div class="page-header">
			<h1><i>Novedades</i></h1>
		</div>
		<div class="page-content">
			{% for post in posts %}
				<div class="fondo_mensaje esquinas">
					<div class="titular-comentario contenido-comentario esquinas">
						<table cellpadding="0" cellspacing="2">
							<tr>
								<td class="td_perfil" ><img src="{{post.obtener_url_imagen}}" width="40px" height="50px" border="0"></td>
								<td class="td_titulo"><b><h2 class="titulo_novedad"><a href="">{{post.titulo}}</a></h2></b>
								<p>{{post.fecha_publicacion}}</p></td> 
							</tr>
						</table>
					</div>
					<div class="texto_mensaje">
						<p>{{post.contenido|safe}}</p>
						<strong>Deporte: </strong>{{post.obtener_categorias}}
					</div>

				</div>
			{% endfor %}
		</div>
	{% endblock %}









