{% extends "baseAlumno.html" %}
{% block contenido %}
		<div class="page-header">
			<h1><i>Novedades</i></h1>
		</div>
		<div class="page-content">
			{% for post in posts %}
				<div class="fondo_mensaje esquinas">
					<div class="titular-comentario contenido-comentario esquinas">
						<table class="tabla_comentario">
							<tr>
								<td class="td_perfil"><img src="../media/img/perfil.jpg" width="40px" height="50px" border="0">
								</td>
								<td class="td_titulo"><b><h2 class="titulo_novedad">{{post.titulo}}</h2></b>
								<p>{{post.fecha_publicacion}}</p>
								</td>
								<td class="td_responder"><a href="{% url 'ver_novedades' post.id %}">Comentar</a></td>

							</tr>
						</table>
					</div>
					<div class="texto_mensaje">
						<p>{{post.contenido|safe}}</p>
						<strong><b>Deporte: </b></strong>{{post.obtener_categorias}}
					</div>
					<div class="texto">
					    <p3>{{post.texto|safe}}</p3>
					</div>
					

				</div>
			{% endfor %}
		</div>

{% endblock %}