{% extends extiende %}

{% block contenido %}
	<div class="page-header">
		<div class="fondo_mensaje esquinas">
			<div class="titular-comentario contenido-comentario esquinas">
				<table cellpadding="0" cellspacing="2">
					<tr>
						<td class="td_perfil" ><a href="{% url 'ver_informacion_perfil_persona' novedad.obtener_idAutor %}"><img src="{{novedad.obtener_url_imagen}}" width="40px" height="50px" border="0"></a></td>
						<td class="td_titulo"><b><h2 class="titulo_novedad">{{novedad.titulo}}</h2></b>
						<p>{{novedad.fecha_publicacion}}</p></td> 
					</tr>
				</table>
			</div>
			<div class="texto_mensaje">
				<p2>{{novedad.contenido|safe}}</p2>
			</div>
			<div class="texto_mensaje">
				<p2>{{post.contenido|safe}}</p2>
				<li><strong><b>Deporte: </b></strong>{{novedad.obtener_categorias}}</li>
			</div>

		</div>
	</div>
	<div class="page-content page-comentarios">
		<div class="fondo_mensaje esquinas">
			{% for c in comentarios %}	
				<div class="texto_mensaje">
					<table class="tabla-comentario">
						<tr>
							<td class="td_perfil" ><a href="{% url 'ver_informacion_perfil_persona' c.obtener_idAutor %}"><img src="{{c.obtener_url_imagen}}" width="40px" height="50px" border="0"></a></td>
							<td class="td_autor"><a href="{% url 'ver_informacion_perfil_persona' c.obtener_idAutor %}">{{ c.autor }}</a></td>
							<td class="comentario">{{ c.texto }}</td>
							
							{% if c.obtener_idAutor = user.id or puede_editar_comentarios %}
								<form method="POST">{% csrf_token %}
									<td><button type="submit" name="boton_eliminar" value="{{c.id}}">Eliminar</button></td>
									<td><button type="submit" name="boton_editar" value="{{c.id}}">Editar</button> </td>
								</form>
							{% endif %}
													
						</tr>
					</table>
				</div>
			{% endfor %}
			<div class="comentario">
				<form class="form-horizontal" role="form" action='' method='POST'>{% csrf_token %}
					{{ formulario.as_p }}
					<button type="submit" class="btn btn-primary" name="boton_agregar">Agregar</button>
				</form>
			</div>
		</div>
	</div>


{% endblock %}
		