{% extends "baseAlumno.html" %}
{% block contenido %}
	<div class="panel-info">
		<div class="page-header panel-default">
			<h2><i>Nuevo contactos de Urgencia</b> </h2>
		</div>
		
		<div class="page-content">
			<p><b><u>Informacion Importante:</u></b> Son datos obligatorios de un Contacto de Urgencia el nombre y apellido, parentezco de la persona y un numero de telefono valido. Muchas Gracias!</p>
			<form role="form" method="POST" accept-charset="utf-8">{% csrf_token %}

				<div class="well" > 
					<div class=" panel-default">
						<div class="panel-heading">
							<h4><b>Datos Personales del Contacto:</b></h4>
						</div>
						
							{% for field in form_principal %}
								{%if field.errors %}
									{% for error in field.errors %}
										<div class="alert alert-danger">
			                				<strong>{{ error|escape }}</strong>
			            				</div>
									{% endfor %}
									{% for error in form_principal.non_field_errors %}
								        <div class="alert alert-danger">
								            <strong>{{ error|escape }}</strong>
								        </div>
			    					{% endfor %}
									
								{% endif %}   		
								
								{% if not field.label = 'Direccion' %}
									<p>{{field.label}}</p>
									<p>{{field}} </p>
								{% endif %}	
							{% endfor %}									
							
					</div>						
					<div class=" panel-default">
						<div class="panel-heading">
							<h4><b>Direccion del Contacto:</b></h4>
						</div>
						
							{% for field2 in form_direccion %}
								<p>{{field2.label}}</p>
								<p>{{field2}} </p>
							{% endfor %}
						
					</div>		
				</div>
				<input class="btn btn-primary" type='submit' value='Agregar'>
				<input class="btn btn-primary" type="button" value="Cancelar" onclick="history.back(-1)" />
				{{mensaje_error}}
			</form>		
		</div>
	</div>	
{% endblock %}