{% extends "baseAlumno.html" %}
{% block contenido %}
	<div class="well ">
		<div class="panel-heading panel-primary">
			<h2><i>Nuevo contactos de Urgencia</b> </h2>
			<form role="form" method="POST" accept-charset="utf-8">

			{% for field in form %}
			 	<div >    		
				{% csrf_token %}
				<p>{{field.label}}</p>
				<p>{{field}} </p>	

				</div>
			{% endfor %}
							
				<input type='submit' value='Agregar'>
			</form>

			<input type="button" value="Cancelar" onclick="history.back(-1)" />
			
		</div>
	</div>	
{% endblock %}