{% extends "baseAlumno.html" %}

{% block contenido %}

<div class="panel-info">

	<div class="page-header">

		<h1><i>Mi perfil</i></h1>

	</div>

	<div class="page-content">
		<form role="form" method="POST" accept-charset="utf-8">{% csrf_token %}
			{% for field in form_principal %}
				<p>{{field.label}}</p>
				<p>{{field}} </p>			
			{% endfor %}
			Direccion:
				{% for field2 in form_direccion %}
					<p>{{field2.label}}</p>
					<p>{{field2}} </p>
				{% endfor %}
			<input type='submit' value='Guardar'>
		</form>

		<input type="button" value="Cancelar" onclick="history.back(-1)" />

	</div>
</div>

{% endblock %}
