{% extends "baseAlumno.html" %}
{% block contenido %}
	<div class="panel-info">
		<div class="page-header">
			<h1><i>Editar contacto de urgencia: </i><b>{{nombre_contacto}}</b> </h1>
		</div>

		<div class="page-content">
			<form role="form" method="POST" accept-charset="utf-8">{% csrf_token %}
				<div class="well"> 
					<div class=" panel-default">
						<div class="panel-heading">
							<h4><b>Datos Personales del Contacto:</b></h4>
						</div>
						{% for field in form_contacto %}
				    		{% if field.label = 'Direccion' %}
							<div class="panel-default">
								<div class=" panel-heading ">
									<h4><b>Direccion:</b></h4>
								</div>
									{% for field2 in form_direccion %}
										<p>{{field2.label}}</p>
										<p>{{field2}} </p>
									{% endfor %}
							</div>
							{% else %}
								<p>{{field.label}}</p>
								<p>{{field}} </p>
							{% endif %}	
						{% endfor %}
					</div>
				</div>
				<button class="btn btn-primary" type='submit' value='Guardar'>Guardar</button>
				<button class="btn btn-primary" type="button" value="Cancelar" onclick="history.back(-1)" />Cancelar</button>
				
			</form>
			
		</div>

	</div>	

{% endblock %}