{% extends "baseAlumno.html" %}
{% block contenido %}
	<script>window.jQuery || document.write('<script src="{% static "js/jquery.min.js" type="text/javascript"}""><\/script>')</script>
	<script>
	    $(document).ready(function(){ 
	      $('#ver-info-contacto').on('click',function(){
	       $('#info-contacto').slideToggle('slow');
	      });
	    });
	</script>
	<div class="panel-info">
		<div class="page-header panel-default">
			<h1><i>Contactos de Urgencia</i>
			<ul class=" nav navbar-right">
				<a title="Info" type="text" type="button"  class="btn" id="ver-info-contacto">
				<span class = "glyphicon glyphicon-info-sign" > </span> </a> 
				<a title="Agregar Contacto de Urgencia" href="{% url 'agregar_contactoUrgencia' %}"><button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></a>
				
			</ul></h1>
		</div>
		<div class="page-content">
			<div id="info-contacto" class="navbar-text" style="display:none;">
				<i><p>Un contacto de Urgencia es una persona cercana a Usted a la que podremos localizar en caso de efectuarse alguna emergencia durante la realizacion de eventos deportivos o entrenamientos. Es por esto que resultaria de vital importancia que nos suministres este tipo de informacion.</p></i>
			</div>	
			
			<form class="form-group" method='POST'>{% csrf_token %}
				
				{% if contactos %}
					{% for c in contactos %}
						<table class="table contacto-tabla" id="contacto-tabla">
							<thead>

								<tr id="contacto-fila">
									<th colspan="4" ><h3 class= "page-header"><i> Contacto  {{ forloop.counter }}</i></h3></th>
									
									<th>
										<a class="page-header" title="Editar" href="{% url 'editar_contactoUrgencia' c.id %}"><span class="glyphicon glyphicon-edit"></span></a>
										<a class="page-header" title="Eliminar" href="{% url 'eliminar_contactoUrgencia' c.id %}"><span class="glyphicon glyphicon-remove"></span></a>
									</th>

								</tr>
								<tr>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Parentezco</th>
									<th>Dirección</th>
									<th>Teléfono</th>
								</tr>
							</thead>
							<tbody>
							<tr>
								<td>{{c.nombre|default_if_none:"--"}}</td>
								<td>{{c.apellido|default_if_none:"--"}}</td>
								<td> {{c.parentezco|default_if_none:"--"}}</td>
								<td>{{c.direccion|default_if_none:"--"}}</td>
								<td>{{c.telefono|default_if_none:"--"}}</td>
							</tr>	
						</table>
					
					{% endfor %}
				{% else %}
					<div class="navbar-text"><p>Usted todavia no ha agregado ningun Contacto de Urgencia.</p></div>
				{% endif %}

			 </form>

		</div>
		
	</div>	
{% endblock %}