{% extends "baseAlumno.html" %}
{% block contenido %}
	<div class="panel-info">
		<div class="page-header">
			<h1><i>Contactos de Urgencia de </i><b>{{request.user}}</b> </h1>
		</div>

		<div class="page-content">
			<form class="form-horizontal" method='POST'>{% csrf_token %}
				<ul class="nav navbar-right">
				 	<span class="glyphicon glyphicon-plus"></span> </span><a href="{% url 'agregar_contactoUrgencia' %}">Agregar contacto</a>
				</ul>

				{% for c in contactos %}
					<a href="{% url 'eliminar_contactoUrgencia' c.id %}">Eliminar contacto</a>
					<a href="{% url 'editar_contactoUrgencia' c.id %}">Editar contacto</a>

					<div class="form-group">
						<label class="col-sm-2 control-label">Nombre: </label>
						<label class="col-sm-2 control-label">{{c.nombre}}</label>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Apellido: </label>
						<label class="col-sm-2 control-label">{{c.apellido}}</label>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Parenctezco: </label>
						<label class="col-sm-2 control-label"> {{c.parentezco}}</label>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Direccion: </label>
						<label class="col-sm-2 control-label">{{c.direccion}}</label>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Telefono:  </label>
						<label class="col-sm-2 control-label">{{c.telefono}}</label>
					</div>
					</div>
				{% endfor %}
			 </form>

		</div>
		
		<div>
		<ul class="pagination">
			{% for contacto in contactos %}
				
				{% if paginator.has_prev %}
					<li><a href="?page={{ paginator.prev_page }}">{{paginator.prev_page}}</a></li>
				{% endif %}
				<li><a href="">{{paginator.page}}</a></li>	
				{% if paginator.has_next %}
					<li><a href="?page={{ paginator.next_page }}">{{paginator.next_page}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>	
		
	</div>	
{% endblock %}