{% extends "baseAlumno.html" %}
{% block contenido %}
	<div class="panel-info">
		<div class="page-header">
			<h1><i>Datos médicos de </i><b>{{request.user}}</b> </h1>
		</div>

		<div class="page-content">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item active"><a class="nav-link" href="#ficha_medica" data-toggle="tab" >Ficha Médica</a></li>
				<li class="nav-item"><a class="nav-link" href="#informacion_medica" data-toggle="tab" >Información Médica</a></li>
			</ul>
		<div class="tab-content">

	<!-- ################ PANEL FICHA MEDICA ####################################-->
		<div role="tabpanel" class="tab-pane fade in active" id="ficha_medica">
			<p>En este espacio usted podra subir su ficha medica.</p>
			<p>La ficha medica es un documento que sera suministrado por los profes de los distintos deportes, y la que usted como alumno debera rellenar junto con su medico de confianza.</p>
			<p>Una vez rellenada, podra subir una copia de la misma para que sea visible por los profes de manera digital.</p>
			<p>A continuacion le mostraremos la lista de deportes en los cuales se encuentra inscripto, como asi tambien el enlce para descargar la ficha medica y una nota del profesor.</p>
			<p>Usted esta inscripto en los siguientes deportes:</p>
			

			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Nota Profesor</th>
						<th>Archivo</th>
					</tr>
				</thead>
			
				{% if deportes %}
					{% for d in deportes %}
						<tbody>
							<tr>
								<td>{{d.nombre}} </td>
								{% if d.ficha_medica %}
									<td>{{d.ficha_medica.descripcion}}</td>
									<td><a href="{{d.ficha_medica.ficha_medica.url}}">link</a></td>
								{% else %}
									<td>El profesor de {{d.nombre}} no ha subido aun una ficha medica.</td>
									<td>-</td>
								{% endif %}
							</tr>
						</tbody>
					{% endfor %}	
				{% endif %} 				
			</table>

			{% if deportes %}

				<form method="POST" enctype="multipart/form-data">{% csrf_token %}
					<h1><u>Actualmente:</u></h1>
						{% if alumno.ficha_medica %}
							Usted ha subido la siguiente ficha medica (haga click en el nombre para descargar): 
							</br><a id="ficha_medica" href="{{alumno.ficha_medica.url}}">{{alumno.nombre_archivo}}</a>
						{% else %}
							<h3>No ha subido todavia su ficha medica</h3>
						{% endif %} 
					<hr style="border-color:blue;">
					<hr style="border-color:blue;">
					<hr style="border-color:blue;">
					<p>Para subir o modificar su ficha medica, seleccione la opcion 'Seleccionar archivo' y posteriormente haga click en Guardar...</p>
					<p>Por favor, utilice el siguiente formato para el nombre de su archivo: DEPORTE_APELLIDO-NOMBRE_DNI</p>
					{{form.as_p}}
					<button type='submit' class="btn btn-default" value='Guardar' name="boton_guardar_form">Guardar</button>
				</form>
			{% endif %} 
		</div>

	<!-- ################ PANEL INFORMACION MEDICA ####################################-->

		<div role="tabpanel" class="tab-pane fade" id="informacion_medica" >	
			<form class="form-horizontal" role="form" method="POST" accept-charset="utf-8">{% csrf_token %}
			<div class="panel" > 
				<h5>A continuacion, nos gustaria que nos suministres los siguientes datos.</h5> 
				<h5>Al finalizar, seleccione la opcion Guardar. Podra dirigirse a esta seccion cada vez que quiera realizar alguna modificacion.</h5> 
					<div class=" well">
						{% for field in form_dm %}
							<p><i>{{field.label}}:</i></p>
							<p>{{field}}</p>
						{% endfor %}

				<button class="btn btn-default" type="submit" value="Guardar" name="boton_guardar_form_dm">Guardar</button>
			</form>	
   			
   		</div>
	</div>
{% endblock %}