{% extends "baseAlumno.html" %}
{% block contenido %}
	<script>window.jQuery || document.write('<script src="{% static "js/jquery.min.js" type="text/javascript"}""><\/script>')</script>
	<script>
	    $(document).ready(function(){ 
	      $('#ver-info-datosMedicos').on('click',function(){
	       $('#info-datosMedicos').slideToggle('slow');
	      });
	    });
	</script>
	<script>
	    $(document).ready(function(){ 
	      $('#ver-info-fichaMedica').on('click',function(){
	       $('#info-fichaMedica').slideToggle('slow');
	      });
	    });
	</script>
	<script>
	    $(document).ready(function(){ 
	      $('#ver-info-infoMedica').on('click',function(){
	       $('#info-infoMedica').slideToggle('slow');
	      });
	    });
	</script>
	<div class="panel-info">
		<div class="page-header panel-default">
			<h1><i>Datos médicos</i></h1>
		</div>
		<ul class="nav nav-tabs" role="tablist">
			<li class="active" ><a href="#ficha_medica" data-toggle="tab" >Ficha Médica</a></li>
			<li><a href="#informacion_medica" data-toggle="tab" >Información Médica</a></li>
		</ul>
		<div class="tab-content">
		<!-- ################ PANEL FICHA MEDICA ####################################-->
			<div role="tabpanel" class="tab-pane fade in active" id="ficha_medica" >
				<ul class="nav navbar-right">
					<a id="ver-info-datosMedicos" title="Info" type="text" type="button" class="btn">
					<span class = "glyphicon glyphicon-info-sign"> </span></a> 
				</ul>
				<div id="info-datosMedicos" class="navbar-text" style="display: none;">
					<i><p>En este espacio usted podra subir su ficha medica.</p>
					<p>La ficha medica es un documento que sera suministrado por los profes de los distintos deportes, y la que usted como alumno debera rellenar junto con su medico de confianza.</p>
					<p>Una vez rellenada, podra subir una copia de la misma para que sea visible por los profes de manera digital.</p>
					<p>A continuacion le mostraremos la lista de deportes en los cuales se encuentra inscripto, como asi tambien el enlce para descargar la ficha medica y una nota del profesor.</p>
					<p>Usted esta inscripto en los siguientes deportes:</p></i>
				</div>
				{% if deportes %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Nota Profesor</th>
							<th>Archivo</th>
						</tr>
					</thead>
				{% for d in deportes %}
					<tbody>
						<tr>
							<td>{{d.nombre}} </td>
							{% if d.ficha_medica %}
								<td>{{d.ficha_medica.descripcion}}</td>
								<td><a title="Descargar" type="text" href="{{d.ficha_medica.ficha_medica.url}}"> <span class = "glyphicon glyphicon-download-alt" >  </span> </a></td>

							{% else %}
								<td>El profesor de {{d.nombre}} no ha subido aun una ficha medica.</td>
								<td>-</td>
							{% endif %}
						</tr>
					</tbody>
				{% endfor %}
				</table>
				<form method="POST" enctype="multipart/form-data">{% csrf_token %}
					<h3>Fichas Médicas:</h3>
					<ul class="nav navbar-right">
						<a  title="Info" type="text" id="ver-info-fichaMedica" type="button" class="btn">
						<span class = "glyphicon glyphicon-info-sign"> </span> </a> 
					</ul>
					<div id="info-fichaMedica" class="navbar-text" style="display: none;">
						<i><p>Para subir o modificar su ficha medica, seleccione la opcion 'Seleccionar archivo' y posteriormente haga click en Guardar...</p>
						<p>Por favor, utilice el siguiente formato para el nombre de su archivo: DEPORTE_APELLIDO-NOMBRE_DNI</p></i>
					</div>
					{% for d in deportes %}
						{% if d.ficha_medica and d in alumno.lista_deporte %}
							{% if alumno.ficha_medica %}
							Usted ha subido la siguiente ficha médica (haga click en el nombre para descargar): 
							</br><a id="ficha_medica" href="{{alumno.ficha_medica.url}}">{{alumno.nombre_archivo}}</a>
							{% endif %}
						{% else %}
							{% if not d.ficha_medica %}
								<li>Todavia no fue cargada la ficha medica de {{d.nombre}} </li>
							{% else %}
								<li>No ha subido todavía su ficha médica de {{d.nombre}}</li>
									
							{% endif %} 
						{% endif %}
					{% endfor %}
					{{form.as_p}}
					<div class="navbar-btn">
						<button type='submit' class="btn btn-primary" value='Guardar' name="boton_guardar_form">Guardar</button>
					</div>
					
				</form>
				{% endif %} 
			</div>
			<!-- ################ PANEL INFORMACION MEDICA ####################################-->
			<div role="tabpanel" class="tab-pane fade" id="informacion_medica" >
				<ul class="nav navbar-right ">
					<a  title="Info" type="text" id="ver-info-infoMedica" type="button" class="btn  ">
					<span class = "glyphicon glyphicon-info-sign"> </span></a> 
					
				</ul>
				<div id="info-infoMedica" class="navbar-text" style="display: none;">
					<i>A continuacion, nos gustaria que nos suministres los siguientes datos.</p> 
					Al finalizar, seleccione la opcion "Guardar". Podra dirigirse a esta seccion cada vez que quiera realizar alguna modificacion.</i> 	
				</div>
				<form class="form-horizontal" role="form" method="POST" accept-charset="utf-8">{% csrf_token %}
					<div class="well">
						<div class=" panel-default">
							<div class="panel-heading">
								<h4><i><b>Información médica: </b></i></h4>
							</div>
							<p>Grupo Sanguineo:</p> 
							{{form_dm.grupo_sanguineo}}
							<p>Alergias:</p> 
							{{form_dm.alergias}}
							<p>Toma Medicamentos:</p> 
							<select name="visibilidad" id="visibilidad_medicamento" onchange="javascript:showContent('esconder_medicamentos', 'visibilidad_medicamento')">
								{% for valor, opcion in form_dm.toma_medicamentos.field.choices %}
					   				<option value="{{valor}}">
					   					{{opcion}}
					   				</option> 
								{% endfor %}
							</select>
							<div class="form-group" id="esconder_medicamentos" style="display: none;">
								<p>Cuales Medicamentos:</p> 
								{{form_dm.medicamentos_cuales}}
							</div>
							
							<p>Tuvo operaciones:</p> 
							<select id="visibilidad_operaciones" onchange="javascript:showContent('esconder_operaciones', 'visibilidad_operaciones')">
								{% for valor, opcion in form_dm.tuvo_operaciones.field.choices %}
					   				<option value="{{valor}}">
					   					{{opcion}}
					   				</option> 
								{% endfor %}
							</select>
							<div class="form-group" id="esconder_operaciones" style="display: none;">
								<p>Tipo de Operacion:</p> 
								{{form_dm.operaciones_cuales}}
							</div>

							<p>Tiene Obra Social:</p> 
							<select id="visibilidad_osocial" onchange="javascript:showContent('esconder_osocial', 'visibilidad_osocial')">
								{% for valor, opcion in form_dm.tiene_osocial.field.choices %}
					   				<option value="{{valor}}">
					   					{{opcion}}
					   				</option> 
								{% endfor %}
							</select>
							<div class="form-group" id="esconder_osocial" style="display: none;">
								<p>Que Obra Social:</p> 
								{{form_dm.osocial_cual}}
							</div>

						</div>
					</div>
					
					<button class="btn btn-primary" type="submit" value="Guardar" name="boton_guardar_form_dm">Guardar</button>
				</form>	
	   		</div>
		</div>
			
	</div>
	

{% endblock %}